[2012-10-23 23:34] 130s opened #4 "qt_gui_core runtime error upon booting rqt_gui"
$ rosrun rqt_gui rqt_gui

will prints:

[code]

although `rqt_gui` window seems to be functioning as expected.

Fuerte (debian) on Ubuntu 12.04

[2012-10-26 18:56] 130s opened #5 "No rospy logger shown on rqt_logger_levels"
Phenom shared with Aaron.

Considering rqt_logger_levels is a direct port from rxloggerlevel, which currently doesn't handle logs from rospy (see Ken's answer http://goo.gl/MHpc9 made in 2011), solution requires to modify rospy's logging system (unless making huge workaround within this plugin, which I suspect realistic).

[2012-10-26 21:27] 130s commented on #5
This feature req is probably dependent on https://github.com/ros/ros_comm/issues/14

[2012-11-09 00:17] 130s opened #6 "(PySide) rqt_plot segfaults upon opening"
Error msg (only 1 line) before segfaults:

[code]

[2012-11-09 00:20] 130s opened #7 "Warning "Could not import "pyside" bindings of qt_gui_cpp library" when opening rqt_gui with pyside"
By doing:

[code]

I see:

[code]

python_qt_binding is git pulled on 11/8/2012 3pm.

[2012-11-09 00:23] 130s opened #8 "(PySide) rqt_cosole can't be opened"
[code]

[2012-11-09 00:30] 130s opened #9 "(rqt_robot_monitor) Errors after closing rqt_gui"
Only when any of status treenode is clicked and opened a status popup window, the following error occurs when you close rqt_gui. Doesn't matter if you've already closed those windows.

[code]

This set of combination repeats many times. Happened when testing with PR2.

[2012-11-09 01:01] 130s opened #10 "(rqt_robot_monitor) Slider on timeline bar needs realized"
That is available on the original robot_monitor.

[2012-11-09 01:02] #4 closed, assigned to ablasdel

[2012-11-09 01:03] 130s commented on #4
Updated qt_gui_core (with being rosmake-d) solves.

[2012-11-09 02:35] ablasdel commented on #8
Fixed in e99b89e31a32842a909315a4fbef6bdadc1e9b3c

[2012-11-09 02:35] #8 closed, assigned to ablasdel

[2012-11-09 08:40] DorianScholz commented on #6
I can't reproduce this, maybe you can try again now with my changes and the "-v" command line switch and paste the output here. Thanks

[2012-11-09 15:44] ablasdel commented on #6
when I launch this with the -v option it takes about 2-3 seconds to fault here is the output:
NOTE the first error (libqt_gui_cpp_shiboken) is issue #7

ablasdel@blw:~/ros_sandbox/ros_gui/rqt$ rosrun rqt_gui rqt_gui -s rqt_plot -v
Could not import "pyside" bindings of qt_gui_cpp library - so C++ plugins will not be available:
Traceback (most recent call last):
  File "/u/ablasdel/ros_sandbox/ros_g

[2012-11-09 17:57] 130s commented on #6
I second to the previous comment on Ubuntu 12.04, `Fuerte`. Following is `gdb`'s output.

[code]

[2012-11-09 23:44] DorianScholz commented on #6
Ah, I see, you are both using PySide.
When I use PySide and the the MatPlotLib backend of rqt_plot, I can reproduce this.
The segfault occurs, as soon as I move the mouse over the plot. As the gdb backtrace shows as well this happens in PySide/QtGui.so after a call of sendMouseEvent.

Searching for the relevant keywords gave me this: http://sourceforge.net/mailarchive/message.php?msg_id=29504658
S

[2012-11-10 01:23] 130s opened #11 "(rqt_robot_monitor via pr2_dashboard) rqt_gui segfaults when enabling diagnostic pane multiple time"
- rqt_pr2_dashboard plugin, if I enable and disable the diagnostics pane enough times, it segfaults. I can generally reproduce in a few seconds if I spam the diagnostics button.
- gdb output:

[code]

When reporting Ubuntu center (naming?) pop-up window says:

[code]

[2012-11-10 20:18] 130s commented on #11
Please pull the latest (a58edcff2eb209f838587818cf02cd610ea9e0da or later) and try again.
On my machine the error hasn't occurred after trying switching diagnostic view 30+ times.

Looks like known issue in Qt.
Cf. http://goo.gl/28sZE "Crash in QTreeWidgetItem::sortChildren when adding new item."

[2012-11-10 21:20] 130s opened #12 ""rqt_gui: error: unrecognized arguments" and exits"
I've tried -v, -b etc.

[code]

Don't know yet the relationship with this (http://goo.gl/eQtJx) change.

[2012-11-11 00:44] dirk-thomas commented on #12
The described behavior is not reproduable. Please describe in more detail which version of qt_gui_core and rqt you are using.

[2012-11-12 02:31] DorianScholz commented on #6
The version check has been implemented in SHA: f7b41ed61445158257397439a98c9d2f1f1ff7be

[2012-11-12 02:31] #6 closed, assigned to DorianScholz

[2012-11-12 02:56] DorianScholz commented on #7
This issue is due to a bug in PySide and it's binding generator shiboken since version 1.1.0:
https://bugreports.qt-project.org/browse/PYSIDE-76

Some more information about this can be seen here:
https://code.ros.org/trac/ros-pkg/ticket/5450

I still have this problem, when compiling with PySide 1.1.2.

I assigned Dirk to this issue, as he has worked more on this.

[2012-11-12 02:57] 130s commented on #12
Sorry not to have listed revisions, and the phenomenon stopped on the same machine either.
Checked with qt_gui_core 682957cbe76a2e3c67a2b1c00e4c8c69de86dcbb

[2012-11-12 02:58] #12 closed, assigned to nobody

[2012-11-12 22:50] #9 closed, assigned to 130s

[2012-11-12 22:51] 130s commented on #9
Has been not reproducible for a few days

[2012-11-12 23:06] 130s opened #13 "(rqt_robot_monitor, pyside) Timeline doesn't show"
When loaded from pr2_dashboard on pyside I get

[code]

[2012-11-13 03:02] #11 closed, assigned to 130s

[2012-11-13 03:02] 130s commented on #11
Having been observed while running a few hours.

[2012-11-14 00:09] 130s opened #14 "(rqt_gui) protect itself from severe error arising from plugins"
Currently, if a severe error (eg. segfault) occurs in a plugin, the entire rqt_gui crashes.

Although I have no idea for now how feasible to implement a feature to avoid this issue, I think it's reasonable enhancement request especially b/c rqt framework is open to users who want to make their own plugins where assuring quality for each plugin is impossible.

[2012-11-14 00:15] dirk-thomas commented on #14
Impossible to achieve. If plugins are considered unstable and likely to segfault you should use the `--multi-process` mode to run them in separate processes.

[2012-11-14 00:15] #14 closed, assigned to nobody

[2012-11-16 01:04] ablasdel opened #15 "rqt_smach: Smach Viewer needs to be migrated from rx"
The rx Smach Viewer at: http://www.ros.org/wiki/smach_viewer

Should be migrated to the rqt framework as soon as time allows

[2012-11-21 11:02] dirk-thomas commented on #15
@ablasdel: we should delegate this to the maintainer of the current stack.

[2012-11-21 13:58] ablasdel commented on #15
Ok I'll do that.

The current maintainer is listed as follows in the stack.xml: @wmeeusse
<author>Maintained by Wim Meeussen</author>

[2012-11-21 14:04] dirk-thomas commented on #15
The chance that Wim will migrate that is pretty low. Then we should either ask @jbohren as the original author or have to ask the community who will take maintainership.

[2012-11-21 14:20] jbohren commented on #15
I don't have time to migrate it at the moment, and I won't have time for at least a few months. It shouldn't be too hard for someone who's familiar with QT in python to migrate it, though, and it should be pretty similar to the migration of rxgraph to QT since @kwc had forked SMACH viewer to make the more recent rxgraph.

[2012-11-21 18:37] ablasdel opened #16 "rqt segfaults"
this happens on oneric and precise

[2012-11-21 18:40] ablasdel opened #17 "Calls to qDebug are causing an error on Oneiric"
It states that qDebug arguments must be strings not Unicode.

Confirmed as occurring on most plugins (rqt_console excluded)

This results in a failure to load the plugin

Traceback (most recent call last):
  File "/opt/ros/groovy/lib/python2.7/dist-packages/qt_gui/main.py", line 277, in message_handler
    if type_ == QtDebugMsg and self._options.verbose:
  File "/opt/ros/groovy/lib/python2.7/dist

[2012-11-21 19:01] ablasdel commented on #16
I have verified this bug on oneric and precise but have discovered that it is intermittent in pyside.

It happens every time in pyqt on oneric

[2012-11-21 21:19] ablasdel opened #18 "rviz plugin crashes inside rviz when run on groovy"
error documented in issue ros-visualization/rviz#553

[2012-11-21 21:25] ablasdel opened #19 "rqt_plot gives a trace when typing / in the topic line"
Traceback (most recent call last):
  File "/u/ablasdel/groovy_sandbox/rqt/rqt_plot/src/rqt_plot/plot_widget.py", line 136, in on_topic_edit_textChanged
    self._topic_completer.update_topics()
  File "/u/ablasdel/groovy_sandbox/rqt/rqt_py_common/src/rqt_py_common/topic_completer.py", line 52, in update_topics
    message_instance = roslib.message.get_message_class(topic_type)()
TypeError: 'NoneTy

[2012-11-21 21:38] ablasdel commented on #16
@dirk-thomas I think you are going to have to give this one a look. It is baffling me due to it's rare reproduction rate.

Note this happens before loading any plugins so is most likely something to do with how qt-gui-core is handling something pyqt related.

I think I managed to catch this while gdbing another issue:

Unfortunately whatever is dying (most likely pyqt) wasn't built with debug symb

[2012-11-21 22:02] ablasdel opened #20 "rqt_image_view sigabrts when changing between between types of images"
it usually take multiple(4-6) switches  to make this happen.

[code]

[2012-11-21 23:18] ablasdel opened #21 "rqt_publisher fails to trigger callbacks for removing and triggering publishers"
right click remove/publish once cause the following to print and the function is not invoked

[code]

[2012-11-21 23:21] #21 closed, assigned to nobody

[2012-11-22 01:59] ablasdel opened #22 "rqt_bag slows to a crawl and becomes non-responsive after a few seconds of recording a running pr2"
Consider enhancements to fix this problem

[2012-11-22 02:18] ablasdel opened #23 "rqt_graph is causing a trace"
I pointed the plugin at a running pr2 and selected "Nodes/Topics (active)"
it then showed this traceback

Traceback (most recent call last):
  File "/u/ablasdel/groovy_sandbox/rqt/rqt_graph/src/rqt_graph/ros_graph.py", line 227, in _refresh_rosgraph
    self._update_graph_view(self._generate_dotcode())
  File "/u/ablasdel/groovy_sandbox/rqt/rqt_graph/src/rqt_graph/ros_graph.py", line 254, in _gene

[2012-11-22 02:43] ablasdel opened #24 "rqt_nav_viewer fails to show nav in pyside (pyqt works)"
Traceback (most recent call last):
  File "/u/ablasdel/groovy_sandbox/rqt/rqt_nav_view/src/rqt_nav_view/nav_view.py", line 218, in _update
    self._map_item = self._scene.addPixmap(QPixmap.fromImage(self.pix))
TypeError: 'PySide.QtGui.QPixmap.fromImage' called with wrong argument types:
  PySide.QtGui.QPixmap.fromImage(ImageQt)
Supported signatures:
  PySide.QtGui.QPixmap.fromImage(PySide.QtGui.Q

[2012-11-22 02:51] ablasdel opened #25 "rqt_robot_dashboard occasionally causes this traceback in pyqt"
Traceback (most recent call last):
  File "/u/ablasdel/groovy_sandbox/rqt/rqt_robot_dashboard/src/rqt_robot_dashboard/monitor_dash_widget.py", line 100, in _stalled
    self.update_state(3)
  File "/u/ablasdel/groovy_sandbox/rqt/rqt_robot_dashboard/src/rqt_robot_dashboard/icon_tool_button.py", line 94, in update_state
    self.state_changed.emit(self.__state)
TypeError: pyqtSignal must be bound to

[2012-11-22 03:03] ablasdel opened #26 "rqt_dep most of the check boxes cause tracebacks when you push them and the screen then displays nothing"
Traceback (most recent call last):
  File "/u/ablasdel/groovy_sandbox/rqt/rqt_dep/src/rqt_dep/ros_pack_graph.py", line 226, in _update_finished
    self._redraw_graph_scene()
  File "/u/ablasdel/groovy_sandbox/rqt/rqt_dep/src/rqt_dep/ros_pack_graph.py", line 283, in _redraw_graph_scene
    self._scene.addItem(node_item)
RuntimeError: Internal C++ object (NodeItem) already deleted.
Traceback (most

[2012-11-22 10:12] DorianScholz commented on #7
As this can only be fixed in PySide, please vote on their bug tracker to fix this issue using the aforementioned link.

[2012-11-22 11:40] DorianScholz commented on #19
this now produces a warning instead of a trace

[2012-11-22 11:40] #19 closed, assigned to DorianScholz

[2012-11-22 11:53] DorianScholz commented on #23
should be fixed by my commit above, but as I did not figure out how to reproduce it, I can't be sure.
please reopen, if I'm wrong...

[2012-11-22 11:53] #23 closed, assigned to nobody

[2012-11-22 11:55] DorianScholz commented on #18
it works fine for me on precise, with fuerte.
may be groovy specific?

[2012-11-22 12:41] DorianScholz commented on #26
fixed in ros-visualization/qt_gui_core@0393ebd4c92ad2cc6b9363d0529c0e918e55ad72

[2012-11-22 12:41] #26 closed, assigned to nobody

[2012-11-22 18:28] ablasdel commented on #18
Yes I forgot to mention it is a groovy specific crash. I have tagged it now.

[2012-11-23 23:28] cberner opened #27 "rqt can't load Qwt widgets"
When I attempted to use loadUi on a .ui file that contained a QwtCompass I got this stacktrace:

PluginManager._load_plugin() could not load plugin "ardupilot/Attitude Plugin":
Traceback (most recent call last):
  File "/opt/ros/fuerte/stacks/qt_gui_core/qt_gui/src/qt_gui/plugin_handler.py", line 84, in load
    self._load()
  File "/opt/ros/fuerte/stacks/qt_gui_core/qt_gui/src/qt_gui/plugin_handl

[2012-11-24 22:42] 130s commented on #27
1st of all I recommend this kind of question would be best asked on answers.ros.org.

I'm not familiar with Qwt but I doubt that loadUi, which internally uses (in your case) PyQt4's  DynamicUILoader().loadUi, might be able to handle only the classes defined in PyQt. Thus if you want to use the classes from 3rd party library in .ui file, you might need to take certain actions.

[2012-11-25 14:49] DorianScholz commented on #27
Dear Christopher,

Isaac is right, your bug report should more likely be a question asked on answers.ros.org, but here are some hints:
rqt_gui can indeed load Qwt widgets an does so for example in one backend of the rqt_plot plugin.
In the current implementation this is not done via loadui, but only because the plotting backend is exchangeable.
You can have a look of an older implementation, where

[2012-11-25 14:49] #27 closed, assigned to nobody

[2012-11-26 18:27] pbouffard commented on #16
I think I may be seeing this too.

See also http://answers.ros.org/question/49143/problems-with-rqt-groovy-ubuntu/

Not sure how to tell if my system is trying to use PyQt or PySide, any hints on that?

[code]

[2012-11-26 18:40] ablasdel commented on #16
@pbouffard what version of ubuntu are you currently running?

Also please run this command and tell me if you get different behavior:

[code]

[2012-11-26 18:51] ablasdel commented on #16
@pbouffard also a hint on pyqt/pyside

Currently rqt attempts to use pyqt unless you specifically ask it to use pyside.

[2012-11-26 18:52] pbouffard commented on #16
@ablasdel Ubuntu 12.04. When I start it with that command, no segfault and it seems to work (though I can't figure out plots). I do see this in the console:

[code]

[2012-11-26 18:55] ablasdel commented on #16
@pbouffard Please ignore those warnings for now. They are issues with the formatting of catkinized package.xml files in packages that rqt depends on, they shouldn't cause you an trouble and will be fixed before the beta is over.

[2012-11-26 18:59] DorianScholz commented on #16
I just installed groovy on 12.04 and got a similar issue. For me rqt segfaults everytime directly after starting it, before I even get to see the GUI. The BT looks a bit different, but has the same 4 top most frames:

[code]

[2012-11-26 19:05] ablasdel commented on #16
@pbouffard ( an aside about rqt_plot: The command line options for rqt_plot have yet to be added so please type the numeric topic you wish to plot into the topic box for now and click the + button )

[2012-11-26 19:07] DorianScholz commented on #16
After getting to know catkin a bit I managed to build both qt_gui_cpp and rqt_gui_cpp from source. With the locally built libraries this problem does not occur, so I could not get a BT with more debug symbols in it...

[2012-11-26 19:58] DorianScholz commented on #16
By installing the python-qt4-dbg package I actually got the debug symbols for the whole BT:

[code]

[2012-11-27 01:17] ablasdel commented on #16
After running the program with this option:

[code]

the segfault is postponed until a python plugin is selected. (c++ plugins seem to run as normal)
OR
when the program closes

[2012-11-27 17:43] DorianScholz commented on #16
You're right, the segfault only occurs when opening a python plugin or closing the gui. For me it actually only happens when opening rqt_plot or rqt_py_console.

But the backtrace shows that the segfault happens in the Python garbage collector. So this cannot really be the fault of any Python code, but has to be a problem with the C++ extension and the garbage collector is just triggered by some P

[2012-11-28 01:29] ablasdel commented on #13
I can no longer reproduce this issue so I am closing it.

[2012-11-28 01:29] #13 closed, assigned to 130s

[2012-11-28 01:53] #25 closed, assigned to ablasdel

[2012-11-28 19:24] dirk-thomas commented on #17
Issue could not be reproduce. Please reopen with version numbers of the relevant packages and step-by-step instructions when it reappears.

[2012-11-28 19:24] #17 closed, assigned to dirk-thomas

[2012-11-28 20:24] dirk-thomas commented on #17
Reproduced with PySide only. Above mentioned change fixed the issue.

[2012-11-28 20:57] ahendrix opened #28 "Add icons to rqt console"
rqt_console needs colored/shaped icons next to each message to distinguish the message level (debug, info, error, etc), similar to the current behavior in rxconsole.

[2012-11-28 21:01] ahendrix opened #29 "rqt_pr2_dashboard crashes when run-stop is enabled."
When rqt_robot_monitor is running as part of rqt_pr2_dashboard, it segfaults when the run-stop is enabled.

If the run-stop is enabled before the dashboard is started, the dashboard doesn't crash until the run-stop is disabled and re-enabled again.

[2012-11-28 22:02] ahendrix commented on #29
This appears to be fixed in master. Closing.

[2012-11-28 22:02] #29 closed, assigned to 130s

[2012-11-28 22:42] ahendrix opened #30 "Double-clicking a message in rqt_console does not bring up an inspection window"
Double-clicking a message in rqt_console results in the following stacktrace:

Traceback (most recent call last):
  File "/u/ahendrix/groovy/rqt/rqt_console/src/rqt_console/console_widget.py", line 547, in _handle_mouse_double_click
    self._show_browsers()
  File "/u/ahendrix/groovy/rqt/rqt_console/src/rqt_console/console_widget.py", line 475, in _show_browsers
    self._browsers.append(TextBrow

[2012-11-28 22:51] #30 closed, assigned to nobody

[2012-11-28 22:56] ablasdel opened #31 "rqt_robot_monitor is not displaying all errors and stale elements in the error pane"

[2012-11-28 22:58] 130s commented on #31
Should be fixed in 5e6a92bacb8a7cd04a020a9df5257fca5630d95c. Will wait for confirmation by others.

[2012-11-28 23:06] ablasdel opened #32 "rqt_robot_monitor is not displaying icons on some computers"
This issue is related to the Tango icon set (which we use as a default for not compliant icon themes) is missing the icons that were used to display states.

[2012-11-28 23:18] 130s commented on #32
Should be fixed in cfe85b82819f05d4ee5e415c3916f060559acdcb but will wait for confirmation.

[2012-11-28 23:23] ablasdel commented on #32
I looked at the tango icon set and the new theme icons exist so this is solved. If it isn't we will reopen upon confirmation.

[2012-11-28 23:23] #32 closed, assigned to 130s

[2012-11-29 05:48] dirk-thomas commented on #16
I can reproduce the segfault on an Oneiric machine when building qt_gui_core and rqt from source and rest from Debians. Surprisingly with pluginlib also from source (which are only headers!) the segfault disappears...

[2012-11-29 17:44] ablasdel commented on #31
I can confirm I saw stale items and errors show up in the top pane yesterday. Feel free to close the issue if you have fixed it. No need to wait for confirmation from a second party. We can just reopen the ticket if we find the bug again.

[2012-11-29 17:44] #31 closed, assigned to 130s

[2012-11-29 19:47] ablasdel commented on #5
@dirk-thomas The rospy branch was merged correct? Are we leaving this open because it was not backported to Fuerte? or should this be closed?

That said even if it should be open maybe this issue belongs on ros/ros_comm if it will be open for a significant period of time.

[2012-11-29 19:56] ablasdel commented on #18
This issue is most likely a duplicate of #16 I am going to close this.
I will re-open it if it reoccurs after we have fixed #16

[2012-11-29 19:56] #18 closed, assigned to nobody

[2012-11-29 19:58] dirk-thomas commented on #5
The patch to rospy has been committed to fuerte and groovy (but not yet released. As soon as we have verifies that rqt_logger_levels now works as expected we can close this.

[2012-11-29 20:01] ablasdel commented on #5
Ok I will ask @130s to see if he can verify this is solved.

[2012-11-29 21:18] ablasdel opened #33 "rqt_console has a sluggish ui and overall response rate to filter changes when message numbers get high"
I am looking into getting the UI more responsive initially and then seeing if the backend can't be sped up as well.

[2012-11-29 23:45] ablasdel commented on #24
This seems to use imageqt and the PIL library
http://effbot.org/imagingbook/imageqt.htm

it should be possible to use QImage directly. This would solve the problem.

[2012-11-30 01:29] ablasdel commented on #28
Icons are now shown as follows:
debug/info -> dialog-information
warn -> dialog-warning
error/fatal -> dialog-error

[2012-11-30 01:30] #28 closed, assigned to ablasdel

[2012-11-30 02:10] 130s opened #34 "(rqt_robot_monitor) Last msg received time not reset to 0 once connection to ROS Master is lost"
Either by roscore terminated or network connection, this phenomenon seems to occur.

(Btw this is the issue too in the original robot_monitor)

[2012-11-30 09:36] dirk-thomas commented on #16
Should be fixed with the upcoming rospack version 2.1.14.

[2012-11-30 09:36] #16 closed, assigned to dirk-thomas

[2012-11-30 18:31] hershwg opened #35 "Crashes on startup: terminate called after throwing an instance of 'std::out_of_range'"
I just apt-get installed rqt for groovy:

[code]

Result was disappointing:

[code]

Trying again clearing my config:

[code]

[2012-11-30 19:05] ablasdel commented on #35
We are planning to release a new version soon. But just to be sure can you send me the contents of your ~/.config/ros.org/rqt_gui.ini file?

[2012-11-30 19:32] ablasdel opened #36 "rqt_nav_view causes a stack trace when opening a second instance"
running

[code]

open a rqt_nav_view plugin and then another.
It causes this Exception

[code]

[2012-11-30 20:14] dirk-thomas commented on #35
The ini file won't help. A stacktrace would provide more information where this string operation fails.

[2012-11-30 20:50] ablasdel opened #37 "rqt_robot_monitor causes a traceback in pyside"
run with

[code]

load robot_monitor

result

[code]

[2012-11-30 21:08] dirk-thomas commented on #35
Turned out it was an older version - works with current state.

[2012-11-30 21:08] #35 closed, assigned to nobody

[2012-11-30 21:33] ablasdel opened #38 "rqt_plot doesn't load MatPlot in pyside"
running

[code]

and loading rqt_plot causes this warning:

[code]

When running in pyqt MatPlot loads successfully and can graph.

rqt latest from source 9753cff2a9fe645c2fb8c91c79a8ef4c02bdb8a5
ros-groovy-qt-gui-core 0.2.6
python-matplotlib 1.1.1~rc1+git20120423-0ubuntu1

[2012-11-30 21:43] dirk-thomas commented on #38
The matplot requires at PySide > 1.1.0.

[2012-11-30 21:43] #38 closed, assigned to DorianScholz

[2012-11-30 23:06] #20 closed, assigned to nobody

[2012-11-30 23:12] ablasdel commented on #36
f1a271537036bca9058091b5a420921d6e23e401 fixes this issue by throwing a RuntimeException that explains the inability for two threads in a single process to subscribe to the same tf_frames service.

[2012-11-30 23:12] #36 closed, assigned to nobody

[2012-12-01 08:05] 130s opened #39 "rqt_gui (pyqt) segfaults before opening its window"
The following segfaults occurs http://pastebin.com/D8Mg1MRC (includes catkin_make process and stuff).

So far with pyside segfault hasn't happened.

By the way, although I'm not sure about the correlation, Ubuntu shows this crash report whenever I catkin_make my workspace. --> http://pastebin.com/gCYFXBDY

Groovy, Precise
python_qt_binding from debian
rqt & qt_gui_core from source, built with catk

[2012-12-01 08:10] 130s commented on #39
Sorry I wrote Fuerte but apparently it's tested under Groovy (original post is now corrected).

[2012-12-01 08:19] #37 closed, assigned to 130s

[2012-12-03 17:49] ablasdel commented on #39
are you sure this isn't issue #16?

It sounds very similar.

[2012-12-03 18:11] #39 closed, assigned to nobody

[2012-12-03 18:12] 130s commented on #39
Although not sure about correlation with Issue #16, this stopped happening with qt_gui_core 0.2.7 fetched (from building server).

[2012-12-04 06:34] 130s opened #41 "segfault via rqt_pr2_dashboard"
After repeating enable-disable rqt_robot_monitor many (more than several dozens of) times on rqt_pr2_dashboard, rqt_gui segfaults.

Happens on @ablasdel's machine, but does not on mine (kept clicking for 5+ minutes x 2 times).

My environment:
ros-groovy-pr2-power-drivers/precise uptodate 1.0.9-s1354565896~precise
rqt commit 9eb8faadedaa6fa3dfafb020c0f89b6ee43c208c

To  @dirk-thomas, @ablasdel
I e

[2012-12-04 06:37] 130s opened #42 "(rqt_robot_monitor) Pop up window from warn & error panes not updating"
Popup windows that are triggered by double-clicking on warn / error tree panes aren't updating. The ones from 3rd pane (all device) is updating.

[2012-12-04 07:40] #42 closed, assigned to 130s

[2012-12-04 08:06] #5 closed, assigned to 130s

[2012-12-04 08:07] 130s commented on #5
On Groovy this is tested and rospy logger showed up on rqt_logger_levels (Fuerte not tested). Changing to Levels = Debug on Loggers = rosout prints rospy.logdebug (tested with rqt_robot_monitor).

[2012-12-04 08:13] 130s opened #43 "(rqt_logger_levels) error print "TypeError: qWarning(str): argument 1 has unexpected type 'ROSServiceIOException'""
On rqt_logger_levels when clicking on nodes whose names are:

[code]

"#####" is number.

[code]

rqt 4574583b1c75f8e84cd0cdac8e99aae692ab6f5e on Precise.

[2012-12-04 08:19] #43 closed, assigned to nobody

[2012-12-04 18:59] ablasdel commented on #41
The one we were looking at was an illegal instruction but we did see a segfault as well during the testing that we could not pin down.

[2012-12-06 22:14] 130s commented on #10
Added in 95998e30d8f0a401eed46d9d8265d33e1d59615d.

[2012-12-06 22:14] #10 closed, assigned to 130s

[2012-12-07 01:02] 130s opened #44 "With multi-process option, plugin's widget often not shown max size"
[code]

Seen with rqt_pr2_dashboard, rqt_console, rqt_bag, rqt_logger_level so far. This happens almost always, but sometimes the plugin max sized.

Once I resize rqt_gui's window, the plugin adjusts the size to expand to the maximum available size within the window.

Groovy
qt_gui_core from debian
rqt from src

[2012-12-07 04:48] ablasdel commented on #24
fixed by 158c3b795fbd531aca92e5091ecd03ba87a931e7

[2012-12-07 04:48] #24 closed, assigned to ablasdel

[2012-12-07 04:51] ablasdel commented on #44
You should put the specific version of the qt_gui_core and the specific commit from source.
That way if this one is open for awhile we know where to test if it is not reproduce-able.

If this happens with all plugins this might be a qt_gui_core level bug

[2012-12-07 05:16] 130s opened #45 "(rqt_robot_monitor) timeline on popup window doesn't show retrospect values."
Happens with rqt 919884dd133ce40688c1206a01653161d8eff0cc

Expected behavior:
When user clicks on any device trees, popup window appears to show detail of the device status, which gets updated upon the arrival of new diagnostic msg. There is also timeline on the popup where user is able to scroll to  go back see previous status.

Error phenomenon:
Scrolling on timeline on popup doesn't change the

[2012-12-07 07:07] 130s commented on #44
Good point.
ros-groovy-qt-gui-core/precise uptodate 0.2.7-0precise-20121205-0847-+0000
rqt f3cfe76373cb30b540d444f792ad3cc7f6f32777

[2012-12-07 07:39] 130s opened #46 "(rqt_robot_monitor, rare case) parent tree node status not consistent with child nodes"
Snap shot: http://goo.gl/Z5T3p
Top is the original robot_monitor. Bottom is rqt_robot_monitor.
Look at IMU. Both show the parent IMU node is ERROR but its children are OK.

Because this is based on diagnostic_aggregator's this issue https://github.com/ros/diagnostics/issues/4, trying to workaround within rqt_robot_monitor might not be a good idea (depending on how critical it is..I've never recogn

[2012-12-07 19:29] ablasdel commented on #45
Could you explain this bug more completely?

[2012-12-07 19:30] 130s commented on #46
Decision made not to try to workaround on rqt_robot_monitor's end.

[2012-12-07 19:30] #46 closed, assigned to 130s

[2012-12-07 19:43] 130s commented on #45
Sorry I added description on the original post.

[2012-12-07 19:46] zklapow commented on #45
this isn't really a bug per-say more of an "I never implemented this feature" because of time.

[2012-12-07 19:47] 130s commented on #44
Just pasting a commandline output sample.

What I did is in order:
1. ran rqt_gui in multiprocess mode
2. open & close rqt_bag
3. open & close rqt_console
4. close rqt_gui

[code]

[2012-12-07 19:49] ablasdel commented on #45
I agree I'm marking this as enhancement instead of bug. It would still be nice to have.

[2012-12-07 20:59] trainman419 commented on #41
This was happening pretty frequently when pointed at PRK, which is currently having motor trouble.

[code]

[2012-12-07 21:14] trainman419 commented on #41
Similar trace with more debug symbols installed.

[code]

[2012-12-07 21:21] 130s commented on #41
I changed the title of the issue since I can't confirm with rqt_robot_monitor standalone.

I kept rqt_robot_monitor running all night with rqt 8b22c2153b429302405c658e1e0ad3d4f91326ba but didn't happen, whereas with rqt_p2_dashboard it occurs often.

@ablasdel will look into rqt_robot_dashboard that's also used from rqt_p2_dashboard.

[2012-12-07 21:30] 130s commented on #45
@zklapow Because I'm talking about the current version that I'm working on, it's not your fault ;)

@ablasdel and I agreed it still counts as a bug. Users expect the feature I described above, when they see the popup window.

[2012-12-07 21:43] trainman419 commented on #41
My particular crash only appears to be happening with pyside bindings; it hasn't happened yet with pyqt.

[2012-12-07 22:00] ablasdel commented on #41
That is interesting. It looks like it must be robot monitor related because
it is the only one with a qtreewidget.

Could you please use both the pr2dashboard and in another instance have
just rqtrobot monitor? Just to see if you can reproduce it without the
dashboard. If you can we are barking up the wrong tree with our current fix
plan.

On Dec 7, 2012, at 13:43, Austin notifications@github.com

[2012-12-10 22:01] ablasdel opened #47 "rqt_console: message Filters are not updating as expected"
Nothing typed in the Filter changes the behavior of the filter until you leave the window.

Most other filters work LOCATION filters included.

Most likely a regression due to a recent change since this functioned in fuerte.

rqt 1.5

[2012-12-10 22:38] ablasdel commented on #47
This was a side effect of a performance fix for the console filter changing.
I will add a timeout that will update them if the user stops typing for x ms

[2012-12-10 23:35] ablasdel opened #48 "rqt_plot: (matplot only) shows strange output after running for ~5 minutes (progressively gets worse)"
The issue:![snapshot14](https://f.cloud.github.com/assets/2374428/4739/ca0814d2-431f-11e2-84a6-a7f1dfe59dc4.png)

steps to duplicate
execute the UnderstandingTopics tutorial (http://www.ros.org/wiki/ROS/Tutorials/UnderstandingTopics)
leave the rqt_plot open for an extended period of time.
You will see the following:
![after](https://f.cloud.github.com/assets/2374428/4776/df579af4-4321-11e2-997d-bc

[2012-12-11 01:11] 130s commented on #45
Fixed in b54ab4060f341d6e616475e8415b81c8a8b7f98f

[2012-12-11 01:11] #45 closed, assigned to 130s

[2012-12-11 01:19] 130s opened #49 "rqt_robot_monitor) Some popup windows never gets updated"
For example, testing with 2 robots,

[code]

[code]

are now always error, and both are the 1st item on the error tree. A timeline on the popup window that's shown byt double-clicking it never proceeds. Pressing pause button doesn't cause anything either.

rqt b54ab4060f341d6e616475e8415b81c8a8b7f98f
Precise

[2012-12-11 01:34] 130s opened #50 "rqt_robot_monitor) Popup windows generated from either warn/error trees disappear when their status change"
== Severity ==
Minor, but could become major.

== Observed effect to the system ==
So far I haven't observed any major/minor effect on the entire rqt_gui because of this.

== How to reproduce ==
With rqt b54ab4060f341d6e616475e8415b81c8a8b7f98f, Precise
Step-1. Spend sometime watching rqt_robot_monitor/rqt_pr2_dashboard, know in advance which device status often changes b/w ok <--> warning/error.

[2012-12-11 01:58] ablasdel commented on #50
This is due to the popups you being a child of the items in the treeview.

If you want them to be persistent you will need to create them in a callback.

This might be a problem due to the inability to look at error messages unless robot_monitor is paused.

A quick fix might be to pause the robot monitor when you open an error or warning box.

[2012-12-11 10:37] DorianScholz commented on #48
From the screenshots it looks like rxplot also has this problem (maybe not as strong), is that correct?
Then I would guess this has something to do with the MatPlot backend.
Could you try to reproduce this with the PyQtGraph and QwtPlot backends? (selectable form the settings menu)

[2012-12-11 16:10] ablasdel commented on #48
Yes it happens on rxplot too but it does seem more pronounced on the rqt
version.

I will try to reproduce on the other plotters today.

[2012-12-11 16:55] 130s commented on #50
Partly true partly not. As I mentioned in my org. post, there's still a way to achieve what I want with the current tactics.

Agreed that it is a quick workaround but that would change the system behavior, and I feel it's a huge change for the users. Let me discuss further with you later on.

[2012-12-11 17:52] ablasdel commented on #48
Tested QwtPlot and it doesn't seem to happen (so far I will continue running this to be sure)

After fixing a bug in pyqtgraph in pyqtgraph/graphicsItems/PlotItem/PlotItem.py:

[code]

It also doesn't seem to happen.
It looks pretty clear that this is a MatPlot bug.

Perhaps we should depend on one of the other packages and make it the default?

[2012-12-11 18:01] ablasdel commented on #48
Just to note it gets really bad and really slow after awhile of running. I talked with some people here and they mentioned this slowness has been an issue in rxplot for some time.
![Really bad](https://f.cloud.github.com/assets/2374428/6385/b2b3b15e-43bc-11e2-9176-d53763f4db5e.png)

[2012-12-11 21:54] ablasdel commented on #47
apparently the QSortFilterProxy.invalidateFilter() function does something different than I thought.
Changed to invalidate() and it is again working as intended.

[2012-12-11 21:55] #47 closed, assigned to ablasdel

[2012-12-11 22:00] ablasdel commented on #33
Switch which function I was using when the filters changed.
Now it refreshes in 6 seconds on 10k rows. Still not great but better.
I'm worried that this might be due to the fact that this plugin is in python and not c++.

[2012-12-11 22:34] ablasdel opened #51 "rqt_math: plugin to perform math expressions on topics/fields"
For example you have a few numeric topics you want to monitor but would prefer to monitor the sum of them.

This becomes even more useful if it allows arbitrary expressions with topics as variables.

[2012-12-11 22:45] ablasdel opened #52 "rqt_logger_level: Save and restore logger levels & multi process level setting"
Redesign the plugin to allow block selecting so you can set the logger level of multiple processes at the same time.

implement a save/load from a file OR implement the rqt save/restore functionality.

[2012-12-11 22:48] ablasdel opened #53 "rqt_console: implement reading from an sql database as an option"
example of doing this in rxconsole space
https://github.com/bhaskara/ros_logging

[2012-12-11 22:56] dirk-thomas commented on #51
The mathematical operation should probably be performed by a separate node and not within rqt_topic.

[2012-12-11 22:59] ablasdel commented on #51
Do you mean a separate plugin for doing combinations?
Some basic Topic analysis seems like it would fit in quite nicely in the topic introspection plugin

[2012-12-12 01:59] ablasdel commented on #33
e9ff82c91df78b2b33ae1e9d4c52df5cb8d7f13b fixes the responsiveness issue of the filter UI. It still takes the previously mentioned amount of time to re-filter but the buttons will react before it invokes the filtering code.

[2012-12-12 05:40] dirk-thomas commented on #51
Yeah, a separate plugin should have incoming topics/fields, perform the arithmetic and than output the results on new topics. Because that logic is orthogonal to rqt_topic - it would apply to rqt_plot etc. as well.

[2012-12-12 05:59] ablasdel commented on #51
I like that idea. A plugin that takes in any number of topics and combines
them by equation.
If we want to get ambitious it could even publish a result.

[2012-12-12 11:25] tkruse opened #54 "missing rqt_console script in fuerte"
rqt in fuerte misses a script named rqt_console, hence the command

[code]

fails. This breaks tutorials like:
http://www.ros.org/wiki/ROS/Tutorials/UsingRqtconsoleRoslaunch

See:
http://answers.ros.org/question/50238/rqt_console-and-rqt_logger_level/?answer=50260#post-id-50260
I added note to tutorial in the meantime.

BTW: Also in groovy, rqt_console has empty bin and lib folders, which looks ug

[2012-12-12 12:13] tkruse commented on #54
Same for rqt_logger_level, and best check other plugins as well.

Not sure whether electric is affected as well.

[2012-12-12 16:10] ablasdel commented on #54
It sounds like the 1.5 release only got released for groovy and fuerte
is still 1.4.

Can you check your deb version?

[2012-12-12 16:41] tkruse commented on #54
$ dpkg -s ros-fuerte-rqt
...
Version: 0.1.2-s1352880492~precise

On Wed, Dec 12, 2012 at 5:10 PM, Aaron Blasdel notifications@github.comwrote:

[2012-12-12 16:46] ablasdel commented on #54
Well there's your problem. I'll work on getting 1.5 released against fuerte.

Also Rqt doesn't support Electric.

[2012-12-13 02:18] dirk-thomas commented on #52
rqt save/restore functionality is not feasible here since the remote side has a state which you don't want to override when opening the plugin.
Block editing and save/load from a file would be great.

[2012-12-13 03:45] ablasdel commented on #52
I agree this needs to be a manual save to a file not through the
save/restore functionality.

[2012-12-13 07:12] 130s opened #55 "Needs docstring style policy"
I think rqt better specifies docstring format policy. Some info:
- PEP257[1] & 258 leave up the detailed format to each project
- Most of the rqt plugins so far look like using Sphinx format [2].

Maybe PEP 258 + Sphinx is rqt default? If so, then how strict/loose it should be?

[1] http://goo.gl/FZjJj
[2] http://sphinx-doc.org/markup/desc.html,
     http://packages.python.org/an_example_pypi_proj

[2012-12-14 01:26] jbohren commented on #15
Has there been any motion on this? I might have some spare cycles coming up that I can put into it.

[2012-12-14 01:36] ablasdel commented on #15
At this moment nobody here has time to work on it.
If you have some time to port it over that would be most helpful.

On Thu, Dec 13, 2012 at 5:26 PM, Jonathan Bohren
notifications@github.comwrote:

[2012-12-14 04:17] 130s commented on #41
Closing this for now, since I've been testing this for awhile by running 2 rqt_gui instances (1 runs rqt_robot_monitor and the other runs rqt_pr2_dashboard) and no error occurred last 10+ hours.

Tested with
rqt 04f44e8d1d476f5589c95eaba503efe10655e238
groovy-qt-gui-core amd64 0.2.8-0precise-20121208-2339-+0000

[2012-12-14 04:17] #41 closed, assigned to nobody

[2012-12-14 18:20] ablasdel commented on #54
This has been fixed now that Fuerte version 1.6 is released and in debians.

[2012-12-14 18:20] #54 closed, assigned to nobody

[2012-12-14 18:36] 130s opened #56 "rqt_actions: to introspect and actions available on a ROS installation"
To introspect and actions available on a ROS installation. Similar to rqt_msg and rqt_srv.

[2012-12-14 18:37] 130s opened #57 "rqt plugins for roslaunch"
Interface to easily edit/save/launch robot launch files.

Features TBD.

[2012-12-14 22:09] honorh commented on #57
Hi,

Our three biggest requests are all for a GUI that you could use during runtime as a supplement or possibly even a replacement to the rosout GUI:

1) A GUI to display the start/stop/crashed state of each process, along with standard output, standard error, memory and cpu usage.  The rosout GUI only does stdout/stderr.  The worst part of this is not being able to tell without looking at the ter

[2012-12-14 22:38] 130s opened #58 "rqt_topic prints "TopicInfo.__init__(): can not get topic info for ***""
Might not necessarily be categorized into rqt_topic, but this happens on this plugin.
When connected to PR2, numerous number of warning msgs print.
ros-groovy-pr2\* are installed from debian.
rqt de5b436ee0364876da99d6156b365dfdf3b93a6c

[code]

[2012-12-17 09:56] 130s commented on #57
@honorh these seem all good ones. Just commenting back - I felt that we might be able to split features into the one that handles node's process status and another one that provides launch-related functions (and of course we can integrate those features into a single GUI).
Also your idea (1) sounds nice. I wonder how it's feasible though. It might require all the nodes that you want to observe to

[2012-12-17 12:50] DorianScholz commented on #58
Please check again now to see what the exception behind this is.

[2012-12-17 12:52] DorianScholz commented on #55
I second this.
Sphinx seems to be the way to go.

[2012-12-17 14:40] DorianScholz commented on #48
I had a quick look at the MatPlot backend code which someone ported form rxplot and it looks like the calculation of the axes bounds might be the problem, as it calculates the min and max y values over the complete data sequence...
I made a quick change to only use the last 100 data points, which should prevent this from happening.
Could you check if this was the reason and if it looks better now?

[2012-12-17 18:20] ablasdel commented on #48
I checked it out and this did not fix the problem and actually caused some
rather hilarious bouncing in graphs with regular cycles.
You can see this bouncing if you run the following lines from the Tutorials:

http://www.ros.org/wiki/ROS/Tutorials/UnderstandingTopics

[code]

This could probably be avoided if we ensured the currently view-able graph was considered in the bound limits.

[2012-12-17 18:26] ablasdel commented on #48
Also I have some new information on the original bug.

If you pause the plot and then unpause it the time you had it paused will show up in the graph as a perfectly smooth graph and then the plotter will start to draw incorrectly again.
![pauseunpause](https://f.cloud.github.com/assets/2374428/17436/55c7d78a-4877-11e2-9c27-a9a1e5b5d7f3.png)

[2012-12-17 18:38] 130s commented on #58
New warning in 1543049 helps to tell the pkgs missing. After installing some pkgs, a few msg classes are still missing on my machine. Since @ablasdel pointed out there could be debian pkgs that are being built, I'll wait and check again later.

Current warning:

[code]

Installed packages that seem to be related:
ros-groovy-pr2-*
ros-groovy-theora-image-transport
ros-groovy-object-*

[2012-12-17 18:43] ablasdel commented on #48
an aside: What is preventing us from depending directly on one of the other 2 plotting libraries and using those as the default?

[2012-12-17 18:53] ablasdel commented on #58
I think the new verbose message fixes this issue. The other messages seem to be coming from stacks that are not currently building such as pr2_object_manipulation.

Since we can't have rqt_topic depend on anything that will ever have a message this is the best we can do.

[2012-12-17 18:53] #58 closed, assigned to nobody

[2012-12-17 19:40] 130s commented on #57
@honorh It's appreciated if you could find one that shows launch dependency.
For start/stoping nodes, I found rxlaunch http://goo.gl/vodJO which could be a good basis for rqt_launch.

[2012-12-17 19:44] honorh commented on #57
Hi Isaac,

I'm not completely sure what you're asking.  rxlaunch looks like a good
place to start, though, I agree.

-Jenny

On Mon, Dec 17, 2012 at 2:40 PM, Isaac Saito notifications@github.comwrote:

[2012-12-17 19:59] 130s commented on #57
Jenny, I am wondering if you could remember a demo you said you saw. Thanks.

[2012-12-17 22:47] 130s opened #60 "rqt_logger_levels: a node is missing"
With PR2, I just happened to find a node `/localization_saver`  is not shown on "Nodes" pane on rqt_logger_levels. Not sure if this happens with any other nodes.

Because `rxloggerlevel` doesn't show this node either, it's also possible that this might be an issue in ROS level.

By the way, `rqt_console` shows the output from  `/localization_saver` node. No idea if they are correlated or not.

rqt

[2012-12-17 22:47] honorh commented on #57
I can't find the demo, but I would basically like a graphic of the output of roslaunch dep.  And, if possible, a way to go backwards - to see what files depend on the current launch file.

[2012-12-17 23:42] 130s commented on #57
Just sharing that what's discussed so far is also noted in a ticket opened 4 yrs ago (and labeled as wontfix w/o reason mentioned).
https://code.ros.org/trac/ros/ticket/974

[2012-12-18 06:00] 130s commented on #41
With pyside segfaults has not occurred so far for several hours.

[2012-12-19 20:46] #49 closed, assigned to 130s

[2012-12-20 17:02] ablasdel opened #62 "rqt_bag Catkinization broke plugin discovery"
rqt_bag doesn't load any plugins

[2012-12-20 18:28] jonbinney opened #63 "Intensity scaling options image_view"
Right now in image_view, the scaling for depth images is automaticaly determined. It seems to take the smallest depth and make that white, make the largest depth black, and linearly scale in between. This can cause the depth image to flicker when single large or small depth values appear. Two options would be nice:

-option for the user to manually specify minimum and maximum
-a median filter on t

[2012-12-20 18:44] dirk-thomas commented on #63
Option to manually specify maximum is already implemented since 2ecf759cad6be04019c6f83574b22e9af8bb58d2 (minimum is implicitly set to 0). This should be enough to let the user choose between dynamic range detection (with best histogram usage but flickering) or specifying known interval.

If you would like to add more functionality please provide a pull request.

[2012-12-20 18:44] #63 closed, assigned to nobody

[2012-12-21 00:39] dirk-thomas commented on #62
fixed refactoring the plugin mechanism to reuse the one from rqt_gui 0071640231fb50bb984c3830143c0d6d3293caf4

[2012-12-21 00:39] #62 closed, assigned to ablasdel

[2012-12-22 00:42] ablasdel opened #64 "the ros-groovy-rqt-core package doesn't seem to depend on ros-groovy-ros or ros-groovy-ros-comm"
This seems important

[2012-12-22 00:48] ablasdel commented on #64
When installing just the ros-groovy-rqt-core package on a clean system it doesn't create a /opt/ros/groovy/setup.bash etc...

this makes it impossible to run any rqt plugins.

[2012-12-22 00:49] dirk-thomas commented on #64
This is true for every package. If you want the setup files to be present you must have a run_depend on catkin.

[2012-12-22 00:49] #64 closed, assigned to ablasdel

[2012-12-24 21:27] dirk-thomas commented on #48
The problem is that the matplot function is taking longer and longer and therefore block reading the incoming data. This is also the reason why "pause" make the curves perfectly smooth again.

I have update the code to not use collections for the data but simple list (which turns out to scale better), perform the calculation of the min/max y values when adding values (instead of repeatedly when dr

[2013-01-08 00:46] ablasdel opened #65 "rqt_logger_level: doesn't find all loggers"
I've been using ROS_DEBUG inside a particular package, but rxloggerlevel doesn't show that package under the "Loggers" pane, even after refreshing the nodes. Finally, I added a ROS_ERROR right next to one of the ROS_DEBUG's and rxloggerlevel was suddenly able to see the logger. I suspect that rxloggerlevel cannot find loggers until after at least one message has gotten through.

moved old trac tic

[2013-01-14 19:37] ablasdel commented on #60
Is it possible this is the same bug as #65 ?
We recently moved it over from trac

[2013-01-14 22:39] 130s commented on #60
I looked at #65. The reported phenomenons are different (there they talk about "Logger" pane whereas this issue is about "Node" pane).

However I can't determine that they are not rooted in the same cause. Especially I can't reproduce this problem on `PR2` (prj at Willow), failing to find `/localization_saver` node both by `rqt_logger_level` and by `rosnode`. Maybe I need to run some `navigation`

[2013-01-15 01:05] 130s opened #66 "rqt) TypeError: main() got an unexpected keyword argument 'plugin_argument_provider'"
I see this on 2 different `Quantal` machines.

[code]

rqt is from source 4f232265f7e571743eaeef7a07060ab08fe23208

[code]

[2013-01-15 01:14] dirk-thomas commented on #66
If you are working with the latest version from source please take a look to the commit log first before filling new issues.

The error message indicates that the called parent constructor does not have that argument. This is a recent change and it requires you to have also the latest version of qt_gui_core (until that is available as a Debian package also from source).

[2013-01-15 01:14] #66 closed, assigned to nobody

[2013-01-15 01:25] 130s commented on #66
I see. With `qt_gui_core` built from source, I don't see this happens.

Now I understand that we need to use `qt_gui_core` from source too if we work on `rqt`\* from source.

For the reference purpose I think the change mentioned above is probably this https://github.com/ros-visualization/qt_gui_core/commit/33340b32abd5b16b3dd708aef9c16acf740d536a

[2013-01-15 20:45] ablasdel commented on #65
I haven't been able to reproduce this bug.

rqt_logger_levels only shows nodes that have a "setloggerlevel" service. If they do not allow for that they will not (and should not) show up.

If you have a means of reproducing this bug please write it in a comment here so we can look into it. Without a means of reproducing the issue I am going to close this bug as "works for me". I will reopen if/when

[2013-01-15 20:45] #65 closed, assigned to nobody

[2013-01-15 20:50] ablasdel commented on #60
I have closed #65 as not reproducible for now. If you can't figure out how to make this one happen please do the same with this bug.

Even if we reproduced it the bug would most likely be in rosgraph since all rqt_logger_level does is display what rosgraph gives it.

[2013-01-28 20:03] dlaz commented on #66
I'm seeing this with the latest version from the debs on quantal.

[code]

[2013-01-28 20:14] dirk-thomas commented on #66
You are likely not using the latest packages. Please dist-upgrade your system and recheck that you have:
ros-groovy-qt-gui 0.2.12-0quantal-20130125-2007-+0000
ros-groovy-rqt-gui 0.2.8-0quantal-20130125-2010-+0000

[2013-01-28 20:29] dlaz commented on #66
That did it. Odd because this was on a fresh install of ubuntu (from today), so I don't understand why it would have pulled old packages.

[2013-01-28 22:20] 130s commented on #50
Migrated to https://github.com/ros-visualization/rqt_robot_plugins/issues/3

[2013-01-28 22:20] #50 closed, assigned to 130s

[2013-01-28 22:23] 130s commented on #34
Migrated to https://github.com/ros-visualization/rqt_robot_plugins/issues/4

[2013-01-28 22:23] #34 closed, assigned to 130s

[2013-01-28 22:41] ablasdel commented on #48
migrated to https://github.com/ros-visualization/rqt_common_plugins/issues/19

[2013-01-28 22:41] #48 closed, assigned to DorianScholz

[2013-01-28 22:49] ablasdel commented on #22
moved to https://github.com/ros-visualization/rqt_common_plugins/issues/20

[2013-01-28 22:49] #22 closed, assigned to ablasdel

[2013-01-28 22:50] #33 closed, assigned to ablasdel

[2013-01-28 22:52] #53 closed, assigned to nobody

[2013-01-28 22:53] #52 closed, assigned to nobody

[2013-01-28 22:55] #60 closed, assigned to nobody

[2013-01-29 16:56] 130s commented on #56
Development of `rqt_action` is initiated and its code being pushed since https://github.com/ros-visualization/rqt_common_plugins/commit/effcbe64d5d98d5c4a82bbddf9b6390bc785cc8e

All activity regarding it from now on should happen in `rqt_common_plugins` repo.

[2013-01-29 16:56] #56 closed, assigned to 130s

[2013-01-31 19:24] tfoote opened #67 "inconsistent behavior on rqt_gui start without running roscore (ros-pkg ticket #5562)"
current behavior:
- roscpp plugins are available
- rospy plugins are disabled
  - rospy plugins that were loaded in the previous session are restored anyways, leading to init_node waiting for roscore
  - some plugins don't even need roscore (i.e. rqt_dep), but init_node is always called, when loading a plugin

desired behavior:
- same treatment for rospy and roscpp based plugins

option 1)
- plugi

[2013-01-31 22:54] dirk-thomas commented on #7
work around in ros-visualization/qt_gui_core@9846d262d3eb4718c49b1641a680bfba449d375f

[2013-01-31 22:54] #7 closed, assigned to dirk-thomas

[2013-01-31 22:55] dirk-thomas commented on #67
The exact same treatment is not possible as roscpp and rospy expose not the same functionality which would be necessary.

[2013-02-05 16:41] tkruse opened #68 "rqt scripts installed to global PATH"
I assume this was done in the migration to Groovy, but most or all of those scripts should not be installed to the PATH:
['rqt', 'qt_gui_app', 'rqt_bag', 'rqt_console', 'rqt_graph', 'rqt_logger_level', 'rqt_plot', 'rqt_reconfigure']

[2013-02-05 18:49] dirk-thomas commented on #68
rqt and the core tools previous available as rx\* are intentionally still on the path. qt_gui_app has been moved to package specific bin folder.

[2013-02-05 21:58] 130s commented on #68
Technically `reconfigure` GUI wasn't in `rx` suite but in `dynamic_reconfigure`. I'm ok with either to delete from PATH or to keep it as it is.

[2013-02-05 21:59] dirk-thomas commented on #68
@130s: can you check if it was on the path before and if not remove the script from setup.py?

[2013-02-06 10:02] 130s commented on #68
It was added in 24c16b05cf5792cdb417afd896a274486cf69775 by me without considering `rx` orientation.
Should be removed from PATH via https://github.com/ros-visualization/rqt_common_plugins/commit/231169310aef8bed6b6faabc6ff4862f4d83c8f5#rqt_reconfigure/setup.py

[2013-02-06 10:02] #68 closed, assigned to nobody

[2013-02-20 06:43] 130s commented on #57
Just summarizing the functional requirements into a usecase diagram. Opinions still welcomed.
https://docs.google.com/drawings/d/12IDxbt6f9gNv0_Sn6wqKgU5sL5fQHraiHKzX96tJ2cI/edit?usp=sharing

[2013-02-20 22:38] honorh commented on #57
Hi,

In UC.4.2, would it be possible to also monitor stdout and stderr?  People still write to those directly fairly frequently instead of using the ROS logging system.

Thanks,
Jenny

[2013-02-20 23:04] 130s commented on #57
We might want to open another ticket for that.

Joking aside, I'll think about it, but my guts says it might be hard to fit printouts of many lines into this GUI (display region will be occupied with many info). Also ideally we should not be too permissible for non-standard programming habit IMHO.

[2013-02-20 23:29] dirk-thomas commented on #57
Please consider creating multiple smaller rqt plugins rather than one-plugin-addresses-all. The originally proposed 3) goes far beyond what a rqt_launch plugin should be responsible for.

[2013-02-21 00:54] 130s commented on #57
Without having said so clearly (my bad), I've been using this thread to collect feature requests for rqt plugin(s) regarding `roslaunch`. So `roslaunch` users can still feel free to post what they want (I also changed the title of the thread accordingly). I will manage the balance based on modularity, reusability (eg. split into multiple plugins as @dirk-thomas mentioned).

[2013-03-09 01:03] 130s commented on #57
1st release of `rqt_launch` is pushed to buildfarm, so hopefully you'll be able to download its debian pkg in a few days. Many features are yet missing.

Mainly @honorh, about .launch files hierarchy, current version shows all nodes regardless in which .launch files they are called. I thought in some cases this is enough but please tell me once you get to see how it works and how you think.

[2013-03-10 22:50] 130s opened #69 "rqt_gui) Move config file location to ~/.ros"
Since it looks like config file's default location is ~/.ros in ROS world ([related thread](http://answers.ros.org/question/53861/rulepractice-for-the-location-of-storing-config-files/)), `rqt_gui` might better use it too unless there's specific reason.

[2013-03-11 15:34] vrabaud opened #70 "rqt_reconfigure exec not present in 0.2.11"
It seems it's related to #68 :
rosrun rqt_reconfigure rqt_reconfigure
does nto work anymore
(the script is not copied over, the CMake install call seemed fine to me, it was nto installing to the global PATH, not sure why it was removed).

[2013-03-11 18:15] ablasdel commented on #70
This is actually a bug that should live on rqt_common_plugins.

The issue is the script is not installed properly: fixed here https://github.com/ros-visualization/rqt_common_plugins/commit/0cf9d223e6cf2a791e64144f8a1fbb7d3f714e92

[2013-03-11 18:15] #70 closed, assigned to ablasdel

[2013-03-11 19:49] vrabaud commented on #70
True, it's an rt_common bug but it was caused by the generic bug #68 in rqt.

[2013-03-11 21:29] 130s commented on #69
Idea of @dirk-thomas is this is 'wontfix'.

Content of config file is used in one of its dependency `qt_gui_core` metapackage, which will be ROS agnostic (currently it depends on ROS but eventually will become so, once [REP136](https://github.com/ros-infrastructure/rep/blob/9701098708b094005878be5a7ef29e4f5ebc3ff9/rep-0136.rst) finalizes).

So it makes sense to use normal `Ubuntu` way, which is to

[2013-03-11 21:59] dirk-thomas commented on #69
We can move the config in the future for the ROS specific part of rqt, but we have to make sure to make it transform existing configurations from the current location.

[2013-03-18 23:20] 130s commented on #15
Closing this ticket, since it looks like development is going on in [another repo](https://github.com/ros-visualization/executive_smach_visualization).

[2013-03-18 23:20] #15 closed, assigned to nobody

[2013-03-18 23:33] 130s commented on #57
Closing this feature discussion, since development is going on and 1st release is being built. Please file tickets for further enhancement and issue report on designated issue tracker. See [wiki](http://ros.org/wiki/rqt_launch) for more info.

[2013-03-18 23:33] #57 closed, assigned to nobody

[2013-03-19 21:21] 130s opened #71 "rqt version of create_pkg command"
Following files are currently developers' responsibility in addition to writing codes, and it's still cumbersome to me after creating pkgs 20+ times:
- Modify package.xml
- make plugin.xml
- Modify CMakeLists.txt
- (py) Modify setup.py
- (py) Modify scripts folder

If this is a good idea I'll give it a try.

[2013-03-22 21:32] acornacorn opened #72 "panel dragging cannot acheive certain layouts"
To reproduce:
run rqt
open any 3 plugins (e.g. console, launch, and ROS Graph)
typical arrangement is all 3 side by side.
Drag one of the panels and try to get it to take up the entire bottom of the window (with the other 2 side by side on top).

Expected: should be able to make one panel take the entire width of the window with the other 2 side by side on top (or bottom)

Actual: seems impossible

[2013-03-22 21:37] dirk-thomas commented on #72
It is absolutely possible: ![rqt-3-plugins](https://f.cloud.github.com/assets/1335366/292917/9f142068-9338-11e2-85eb-da5906ea8747.png)

This is totaly up to Qt - rqt does nothing special - but yes, it is not straight forward to achieve.
You first undock one plugin, than stack the other two vertically above each other and that redock the first plugin beside the top one.

[2013-03-22 21:37] #72 closed, assigned to nobody

[2013-03-22 22:03] acornacorn opened #73 "(rqt_gui) panel min size is too large"
(feature request)

Many rqt plugins have a minimum width that is pretty large.  With even a modest number of plugins side by side this makes it impossible to shrink the rqt window much.  It would be useful if there was one or more of:
- an option to allow forcing panels to shrink smaller than their min size
- the ability to minimize a panel so it can easily be popped open again when needed (minimi

[2013-03-22 22:47] dirk-thomas commented on #73
- the definition of a minimum size is that you can not size it smaller, you could fill issues for individual plugins to decrease the size of their layout if feasible
- you can already make the plugins stack and get a tabbed panel, try to move a plugin over the middle of another plugin and watch the rubber band where it will be dropped.
- I have filled a feature request for minimizing plugins: ros-

[2013-03-22 22:47] #73 closed, assigned to nobody

[2013-03-27 00:21] 130s commented on #55
I propose that in addition to what's discussed above, allow using @ for attributing. For example:

[code]

is equal to:

[code]

I'm suggesting because `pydev` seems to be supporting @.

I'm closing this assuming no objection but feel free to reopen.

[2013-03-27 00:37] dirk-thomas commented on #55
Do both syntax variations work with all the used tools?

[2013-03-28 00:18] 130s opened #74 "Docstring process needs documented for python in rqt"
This is `ROS` wide and is not necessarily `rqt` only, but I want to start working on `rqt` and once successful then propagate to ROS.

Writing and publishing `Docstring` process needs documented. Specifically:
- [ ] Which format docstring should be written (discussed in Issue #55)
- [ ] Necessary steps to be made if any in order to generate API doc that's nice enough
  - [Example in rospy](http://

[2013-03-28 00:19] 130s commented on #55
Reopened since we're not sure about side effect of the change I proposed.

[2013-03-28 20:16] 130s opened #75 "rqt_gui shows no menu bar on Mac OSX"
![osx_rqt_gui_no_bar_13Mar28](https://f.cloud.github.com/assets/1840401/315295/f19b781e-97e2-11e2-8f13-69c9dc2a7601.png)
I followed [Homebrew source](http://www.ros.org/wiki/groovy/Installation/OSX/Homebrew/Source?highlight=%28%28groovy|Installation|OSX|Homebrew|Source%29%29) installation. Versions are (still trying to figure out what's the best way to get the version in use on `OSX`):

[code]

OS

[2013-03-28 20:24] 130s commented on #75
Closing. I guess I should ask on `answers` first, which I [have done](http://answers.ros.org/question/59480/rqt_gui-shows-no-menu-bar-on-mac-osx/).

[2013-03-28 20:24] #75 closed, assigned to nobody

[2013-04-01 20:44] 130s commented on #74
As part of the best-practice, always defining `rtype` seems to be beneficial ([ref.](http://sebthom.de/140-leveraging-pydevs-auto-completion-indirectly-created-objects/)) for auto-completion. This works quite well on `PyDev` on `Eclipse`.

[2013-04-01 21:14] dirk-thomas commented on #74
The reference states:
"But PyDev could for example honor the @return / @rtype PyDoc annotations (which you can add to the findBook’s method declaration) but currently it just does not."

Have you tried it with PyDev and it worked for you? If yes, with which version?

[2013-04-15 18:40] tsirif opened #77 "rqt on MacOSX fails to start [ImportError?]"
I followed Homebrew source installation of Groovy on MacOS 10.7.5 and when i'm trying to run rqt i get the following error:

[code]

What is wrong? Can you help me?

[2013-04-15 18:44] 130s commented on #77
This seems like a known issue discussed [here](http://answers.ros.org/question/56477/python-conflicts-with-homebrew-based-install-on-osx/).

Also, please consider asking questions on the [same web site](answers.ros.org). Only when you determine something as bug/enhancement, please open ticket here (like you did). Reviewing [ROS' support policy](http://www.ros.org/wiki/Support) will be hopefully he

[2013-04-15 18:44] #77 closed, assigned to nobody

[2013-05-08 19:31] osandoval opened #78 "Problems installing ros-groovy-rqt from apt package manager"
I'm trying to install ros-groovy-rqt from the default ros repository, on a computer with Ubuntu 12.04 (precise) and amd64 architecture. If, as root, I use the command:

[code]

I get the following error:

[code]

I just search the .deb file in http://packages.ros.org/ros/ubuntu/pool/main/r/ros-groovy-rqt/ and I found that the clossest package is:

[code]

Is not hard to download and install a pack

[2013-05-08 23:39] dirk-thomas commented on #78
This is very likely due to the fact that an updated package (newer timestamp) has been released after you called `sudo apt-get update` last time. Try running that command again and afterwards the installation should work fine - if not, please comment again and I might reopen the issue.

[2013-05-08 23:39] #78 closed, assigned to nobody

[2013-05-10 16:17] osandoval commented on #78
You were right, timestamps were unupdated. Thanks.

[2013-05-14 23:03] shaun-edwards opened #79 "Allow perspective in rqt_gui window to be locked"
The current perspectives are very useful from a power user point of view but they could be confusing from a simple user point of view.  It would be nice if there were a way to lock a perspective so that it automatically loaded with rqt_gui and could not be changed by the user.  Ideally this would be done from the command line, config file, etc... so that an application could be loaded and configur

[2013-05-14 23:22] dirk-thomas commented on #79
rqt currently has the options:

[code]

Is that what you want or do you have anything else in mind?

[2013-05-17 20:58] shaun-edwards commented on #79
I tried the -l and -p options under fuerte and observed the following behavior.

-p loaded the desired perspective as expected

-l disabled the menu and the "close" icon plugins.  The "close" icon on the Container was not disabled.  This is probably a bug, but I was not able to verify it in groovy.

Using the -l and -p options appears to do most of what is requested, but they still allow moving an

[2013-05-22 21:36] dirk-thomas commented on #79
It ticketed the two parts separately: ros-visualization/qt_gui_core#20 ros-visualization/qt_gui_core#21.
Therefore closing this meta issue.

[2013-05-22 21:36] #79 closed, assigned to nobody

[2013-05-24 03:21] dpsolomon opened #80 "rqt_graph) Bring back node information"
Part of what made rxgraph so useful was the node information (pubs, subs, services, and active connections) that was readily available all in one spot. Yes, I know the information is still available via rosnode, but a very useful enhancement to rqt_graph would be to bring back the node information in the sidebar.

[2013-05-24 03:59] ablasdel commented on #80
I agree this would be a great enhancement. I don't think the creator is actively developing this anymore but I will look around for someone interested. If you know anyone have them contact me.

[2013-05-26 19:32] dirk-thomas commented on #80
Moved: ros-visualization/rqt_common_plugins#87

[2013-05-26 19:32] #80 closed, assigned to nobody

[2013-05-26 19:35] dirk-thomas commented on #51
Moved: ros-visualization/rqt_common_plugins#88

[2013-05-26 19:35] #51 closed, assigned to nobody

[2013-06-20 23:34] davetcoleman opened #82 "Add Icon to GUI Window"
RQT would look much more polished if it had an icon to represent it in the menu of Ubuntu.

[2013-06-21 19:59] #82 closed, assigned to nobody

[2013-06-24 17:22] davetcoleman commented on #82
Thanks!

[2013-07-27 13:25] 130s commented on #74
[With PyDev 2.8.1 type inference from DocString is introduced](http://pydev.blogspot.com.au/2013/07/pydev-280-released.html). Works great.

[2013-08-05 23:54] ablasdel opened #83 "Strange rendering behavior on OSX"
Initially reported on rqt_bag here: https://github.com/ros-visualization/rqt_common_plugins/issues/68

It seems that the qt Version of OSX has some rendering irregularities.

[2013-08-05 23:58] 130s commented on #82
@dirk-thomas Any plan to release new version soon? Can't wait to see this icon with deb binary.

[2013-08-06 00:12] ablasdel commented on #83
I couldn't find a similar bug so I filed a bug here: https://bugreports.qt-project.org/browse/PYSIDE-183
If it can be verified in pyqt as well I will move the bug.

@wjwwood Not sure if anyone will care though.

[2013-08-06 00:22] dirk-thomas commented on #83
Before filling bugs upstream you should make sure that it is really a PySide error. Have you ran it with both PyQt and PySide and verified that it only happens for PySide but not for PyQt? Do you have a simple PySide example (without using ROS, rqt, etc.) which demonstrates the rendering issue?

[2013-08-06 00:48] ablasdel commented on #83
I do not and william just verified that it is not a pyside. happens in pyqt also.

[2013-08-06 07:56] davetcoleman commented on #82
+1

[2013-08-08 22:07] dirk-thomas commented on #74
I will close this ticket in rqt since it is not the responsibility of rqt to define the recommendation for documenting Python code in ROS. Please feel free to continue the discussion on one of the mailing lists to achieve a state which can than be documented on the Wiki.

[2013-08-08 22:07] #74 closed, assigned to nobody

[2013-08-08 22:10] dirk-thomas commented on #55
I will close this ticket in rqt since it is not the responsibility of rqt to define the recommendation for documenting Python code in ROS. Please feel free to continue the discussion on one of the mailing lists to achieve a state which can than be documented on the Wiki.

[2013-08-08 22:10] #55 closed, assigned to nobody

[2013-08-08 22:22] 130s commented on #74
Agreed to close, so do I with #55 too.

[2013-08-16 15:57] tkruse opened #84 "rqt standalone plugins have superfluous buttons"
When I start rqt tools stand_alone, they still have the qt Functions like undocking, docking enable button, minimization, toggle floating, and an inner Window title (e.g. for rqt_console, the title "Console", adding nothing to what we know unless we undock).

Those functions are not useful in the standalone case as far as I can see, and worse when pressed accidentally, they are an annoying distrac

[2013-08-16 17:34] dirk-thomas commented on #84
This can not be changed.

rqt is designed as a framework and each plugin is able to contribute multiple widgets. So it is not feasible to assume  that a plugin only consists of a single dock widget. Therefore for standalone plugins the main window surrounding the dock widget(s) can not be removed.

[2013-08-16 17:34] #84 closed, assigned to nobody

[2013-08-16 18:30] tkruse commented on #84
I am mildly curious: then how come rqt_pr2_dashboard comes without these buttons ?

Dirk Thomas notifications@github.com wrote:

[2013-08-16 18:46] dirk-thomas commented on #84
rqt_pr2_dashboard has the same buttons for every dock widget. What you see at the start of the dashboard is a toolbar which naturally does not have a title bar.

[2013-08-16 20:17] tkruse commented on #84
I see.

Assuming the current dockable-widget design of stand-alone rqt tools was
not acceptable to the ROS community, what would be the best approach to
achieve stand-alone tools (for rosbag, console, dashboard, etc) without
superfluous buttons using simething rqt-like?

Would it be easier to change rqt to offer a richer API, or to change the
respective stand-alone tools to be more independent of

[2013-08-16 20:40] dirk-thomas commented on #84
I don't see how this would fit into the current rqt design. The title bar contains functionality (e.g. plugin settings) which are necessary to keep.

If you think that there is need for that and know how to address it please feel free to provide a complete prototype / patch to discuss such an enhancement on the rqt SIG.

[2013-08-19 18:24] dirk-thomas commented on #83
As far as I know fixing the rqt_bag ui file has solved the issue. @ablasdel Are there any other cases left?

[2013-08-19 18:27] ablasdel commented on #83
I have not personally seen the issues but @wjwwood has informed me that a number of the other tools are similarly unusable due to similar issues.

[2013-08-19 18:33] dirk-thomas commented on #69
rqt uses the Qt mechanism to store the configuration in the system default location. At provides an option to clear the configuration. Furthermore the config file is not really human readable/editable with all its serialized state information. Therefore I don't think it makes a lot of sense to move it to the .ros folder.

Until there is some strong interest and reason to migrate to a ROS specific

[2013-08-19 18:33] #69 closed, assigned to nobody

[2013-08-19 22:48] dirk-thomas commented on #83
The default icon size is different on OS X. Therefore the ui files must always contain specific values for iconSize if the push buttons get icons from within the code. Even if the default size (16x16px) is correct is must be set explicitly. Done in ros-visualization/qt_gui_core@edc2c9d4c99d62afc38f2f2a2f390ff7274dd15c

[2013-08-19 22:49] dirk-thomas commented on #83
The minimize button was empty since the underscore character is just a bit below the 16x16px rect specified. Sophisticated patch for this in ros-visualization/qt_gui_core@62e77781bb3f0e647ecae97a205e065fbd701d2c

[2013-08-19 22:50] dirk-thomas commented on #83
Generally when using icons from the theme it should be checked if the theme really provides them (e.g. window-close is not available on OS X). Added checks for each icon in ros-visualization/qt_gui_core@f2e88cdcd337357db12c8ad02371e9800430b6db

[2013-08-19 23:12] dirk-thomas commented on #83
These were all the OS X specific rendering issues which are generic to qt_gui_core and rqt. For further issues please fill tickets against the individual plugins or provide simple pull requests for them to fix similar issues like the ones above.

[2013-08-19 23:12] #83 closed, assigned to dirk-thomas

[2013-08-21 20:52] dirk-thomas commented on #67
This is addressed by #85

[2013-08-21 20:52] #67 closed, assigned to dirk-thomas

[2013-08-28 17:42] b-adkins opened #86 "Launch file dependency grapher"
Files:
[launch_include_graph.sh](https://gist.github.com/b-adkins/6368918#file-launch_include_graph-sh)
[example.dot](https://gist.github.com/b-adkins/6368918#file-example-dot)
[example.pdf](https://gist.github.com/b-adkins/6368918#file-example-pdf)

I wrote a quick dependency grapher. It uses BASH, ros command line tools, and regular expressions to parse launch file includes into DOT node edges.

[2013-09-03 22:26] jbohren commented on #86
Cool! Yeah, even just adding it to ros_comm as a command-line utility to start would be good. Maybe you could create a pull request in the ros_comm package with the contributions.

[2013-09-05 18:04] b-adkins commented on #86
Okay. I just have to find a place to put it then. My one concern is that it's a shell script, not portable Python.

Also, what's a good name for this utility?
- roslaunch/dep_graph
- roslaunch/gen_graph
- roslaunch/inc_graph

Or maybe I could use the name of the advanced graphing tool, which once it's released, could call this tool with a certain flag?

[2013-11-05 01:33] bit-pirate opened #90 "rqt cannot find plugin after changing ROS_PACKAGE_PATH"
For no obvious reason the rqt plugin I'm using (i.e. rqt_capabilities) suddenly stopped working with this error:

[code]

Removing the rqt gui config as described in [this answer](http://answers.ros.org/question/91231/rqt-plugin-not-listedfound-in-list-returned-by-rqt-list-plugins/?answer=91386#post-id-91386) solved this issue.

Is this supposed to happen?

[2013-11-05 01:49] dirk-thomas commented on #90
Did you changed the location where the `rqt_capabilities` package was located (e.g. switching from debs to a source checkout or moving a source package)?

[2013-11-05 02:03] wjwwood commented on #90
You ran `rqt` in an environment with `rqt_capabilities` and then again in one without it, so the cache of `rqt` expected to find `rqt_capabilities` but couldn't.

At least that's my theory.

[2013-11-05 02:10] bit-pirate commented on #90
@dirk-thomas No.

@wjwwood I would say no, but I'm not 100% sure. I also couldn't reproduce the error following your description. Btw, I'm always using `rosrun rqt_capabilities rqt_capabilities`. So, I'm unable to run that plugin in an environment without it anyway.

[2013-11-05 02:15] dirk-thomas commented on #90
Is the problem still there when you invoke it with `--force-discover`? (Please also post the version numbers of `qt_gui_core` and `rqt`.)

[2013-11-05 02:21] bit-pirate commented on #90
I'll try this, once I run into this bug again. I currently don't know how to reproduce this.

[2013-11-05 14:30] meyerj opened #91 "Python error when loading python plugins with pyside binding"
I currently get the following error message when a python plugin is loaded in rqt and pyside bindings are selected:

[code]

I have not observed any side effects yet, but I guess most plugins do not have any toolbars.

My system is Ubuntu precise amd64 with ROS hydro and rqt installed from the official repositories.

Versions:

[code]

[2013-11-05 17:46] DorianScholz commented on #91
I had some problems with PySide 1.1.0 as well on other projects and installed 1.1.2 from their official PPA:
ppa:pyside/ppa
Could you try if this fixes it for you?

[2013-11-05 18:29] meyerj commented on #91
Nope, still the same error.
Do I have to clean some caches or run rqt from a source build? My /opt/ros/hydro/lib/python2.7/dist-packages directory still contains lots of `*.pyc` files.

Updated versions:

[code]

[2013-11-06 09:37] DorianScholz commented on #91
To reproduce the bug I had to start rqt like this:
$ rqt --clear-config -b pyside
and then open a container from the plugin menu.
I fixed it in https://github.com/ros-visualization/qt_gui_core/commit/df70ef76f6a86682e3394fc163f9cb0309ec0d7b
Thanks for the report!

[2013-11-06 09:37] #91 closed, assigned to nobody

[2013-11-06 09:48] bit-pirate commented on #90
No. This fixes it.

qt_gui_core:  0.2.18-0precise-20131015-2036-+0000
rqt: not installed (ros-hydro-rqt)
rqt_gui:  0.2.18-0precise-20131015-2036-+0000

[2013-11-06 18:56] dirk-thomas commented on #90
rqt (since a very recent version) caches the list and location of found plugins. It does that to improve the start-up time significantly. That means for 24h it reuses the previous discovery. If you add packages in the meantime rqt will not recrawl the filesystem and therefore not find them (until the cache expires or you invoke the program with the `--force-discover` option).

Can you please clari

[2013-11-07 02:06] bit-pirate commented on #90
That was it! I'm using multiple workspaces. Switching between them can cause the mentioned error, if the cache has been initialised in workspace, which does not contain the plugin you are trying to load.

Maybe a quick fix would be showing a warning/info, which suggests to try `--force-discover`, when this error pops up?

[2013-11-08 11:41] markpitchless commented on #90
I tend to use multiple workspaces as well, I was constantly getting the problem. A warning would be a good idea. Also a config option that turns off the cache so rqt always discovers on startup would be nice.

[2013-11-08 11:51] DorianScholz commented on #90
Well, the config option that turns off the cache is there: --force-discover
For making the multiple workspace scenario work better, I would suggest making the plugin cache dependent on the current ROS_PACKAGE_PATH.
So the cache file should contain a dictionary of plugin caches, one for each set of paths.

[2013-11-08 11:56] markpitchless commented on #90
I was thinking something in ~/.rviz/config so I don't have to add  --force-discover on every invocation.
Although I can just alias rqt='rqt --force-discover'  to get that.

[2013-11-08 13:38] DorianScholz commented on #90
I've made a working example of using different plugin manager caches depending on the current ROS_PACKAGE_PATH in the branch "plugin_cache_prefix":
https://github.com/ros-visualization/qt_gui_core/commit/231cfb11f02d4f774e9d6e34ce517aae728187a0
https://github.com/ros-visualization/rqt/commit/0a0c1807ed39758f329e248ed9fd4faccb6641be

It works for me, please test and comment.

[2013-11-08 18:18] dirk-thomas commented on #90
+1 please create pull requests for those two branches. I will merge and release likely today since this is a pretty nasty bug.

[2013-11-08 18:33] dirk-thomas commented on #90
@bit-pirate @markpitchless Can you please try the latest version from the git repos for `qt_gui_core` and `rqt` and confirm that they fix the issue for you when you switch between different environments?

[2013-11-15 18:20] dirk-thomas commented on #90
Closing the ticket since it is assumed that the latest changes fix the problem.

[2013-11-15 18:20] #90 closed, assigned to nobody

[2013-11-24 15:23] jgdo opened #93 "rqt Launch plugin ignores machine attribute"
I have some launch files where nodes are supposed to be started on a certain machine using the "machine" attribute. Using roslaunch works fine, but when starting the launch file using the rqt launch plugin, the machine attribute seems to be ignored and the node starts on the local computer.

Is there a way to fix this with some setting or something?

[2013-11-26 21:18] dirk-thomas commented on #93
Moved to ros-visualization/rqt_common_plugins#203

[2013-11-26 21:18] #93 closed, assigned to nobody

[2014-02-06 07:06] davetcoleman opened #94 "rqt main window keyboard shortcuts [feature request]"
It would be really nice to have shortcuts to open things like the plugin menu (Alt-P). From past experience (non-python) this is usually accomplished by changing the menu string slightly

[2014-02-06 15:24] DorianScholz commented on #94
Thanks for the feature request. I don't know why we didn't have that already...
I implemented it in https://github.com/ros-visualization/qt_gui_core/commit/ea48b623306c531061edc23aa7b6bcf62f885775

[2014-02-06 15:24] #94 closed, assigned to nobody

[2014-03-22 00:18] dirk-thomas commented on #71
The milestone is set to "untargeted" since nobody plans to work on this. If someone is interested in this feature a pull request is always welcome.

[2014-03-22 00:21] dirk-thomas commented on #86
I will close the ticket since this specific plugin is not part of this repo.

If there has been any progress on this please add the plugin to the list of available ones / in developement in the wiki: http://wiki.ros.org/rqt/Plugins

[2014-03-22 00:21] #86 closed, assigned to nobody

[2014-05-09 08:14] sromberg opened #96 "RViz within rqt environment crashing"
Commit #95 very likely causes RViz to crash whenever it is used from the rqt environment. However, RViz does not crash when run as standalone application. This has happend to my experience when drawing OccupancyGrid maps and when drawing Markers as path. Both plugins seem to use ogre::Texture::createInternalResources internally which in the end cause it to crash.

While the application eventually

[2014-05-09 17:13] dirk-thomas commented on #96
As of #95 rqt runs an async spinner for C++ plugins. This is necessary in order to have a dedicated thread dealing with incoming messages for the nodelets.

rviz is not designed to be run as a nodelet in the first place therefore I assume it is running its own spinner. With two different spinners running the context / thread in which objects are created / used is not deterministic anymore which wi

[2014-05-14 10:30] acpl00 opened #97 "rqt crashes when a C++ plugin throws an exception"
Dear All,

I launch rqt and then I insert the rviz plugin. However, whenever I try to open a static map topic within rviz, rqt crashes with  the following error:

 Qt has caught an exception thrown from an event handler. Throwing
exceptions from an event handler is not supported in Qt. You must
reimplement QApplication::notify() and catch all exceptions there.

terminate called after throwing an i

[2014-05-14 13:45] DorianScholz commented on #97
@dirk-thomas: I'm not sure whether this should be solved in the rqt_rviz plugin or in the rqt_cpp wrapper.
Should there be a default QApplication::notify() handler in rqt to prevent the any cpp plugin from crashing the whole rqt?

@acpl00: Besides the problem of rqt crashing on such exceptions, I guess there is also a problem with your time field in the map topic:

[code]

Can you confirm this exc

[2014-05-21 02:25] robotpilot opened #98 "can't see the service call plugin and other none basic plugin"
Dear All,

My develop environment is below,
install the ros-indigo-desktop-full and ros-indigo-rqt-\* in Ubuntu 14.04 LTS 64bit.

Today, I launch rqt and then I search the other plugin like service call.
However, I can't see the service call plugin and other none basic plugin (Plugins menu).

When I used the ros indigo beta version, it is working.
But, today I re-install the ros-indigo-desktop-ful

[2014-05-21 15:54] dirk-thomas commented on #98
That seems weird since I just confirmed that I see "all" rqt plugins after a fresh installation.

Please post the output of the following commands:
- dpkg -l | grep ros-indigo-rqt-
- source /opt/ros/indigo/setup.bash && rqt --list-plugins

[2014-05-22 03:40] robotpilot commented on #98
Good, thank you for your kindness.

[2014-05-22 03:40] #98 closed, assigned to nobody

[2014-05-22 04:29] dirk-thomas commented on #98
Does it mean that you were able to fix the issue? If yes it would be good if you comment how you were able to resolve it - in case others run into similar issues in the future they find the information here.

[2014-05-22 04:35] robotpilot commented on #98
I don't know.
Today morning, I just run "sudo apt-get update && upgrade" and restart my computer.
then, the problem is resolved. I try on other pc. thanks.

[2014-07-03 17:17] dirk-thomas commented on #97
The exception can't be catched in a `notify` function of a custom Python `QApplication`. And I don't see a way to reimplement the C++ part of `QApplication::notify()` from Python since `qt_gui_core` is Python-only. If someone has an idea how to achieve that I would be happy to integrate it.

Btw I updated the issue title to describe the problem better.

[2014-07-14 19:05] meyerj commented on #91
Sorry for reporting so late, but the problem is still not completely solved with the current version 0.2.22 released in hydro. If there is a config from previous runs I get the following error message:

[code]

With `--clear-config` no error message is printed.

To reproduce it is sufficient to run rqt with `rqt --clear-config -b pyside`, then open a container, close the rqt instance and run again

[2014-07-15 21:04] dirk-thomas commented on #91
Since the bug was fixed in 0.2.23 (https://github.com/ros-visualization/qt_gui_core/blob/groovy-devel/qt_gui/CHANGELOG.rst#0223-2014-05-07) it is obviously still there in 0.2.22.

The next patch release for Hydro will address this.

[2015-01-02 01:44] Squelsh opened #99 "c++ Plugins nodehandle is not in global namespace"
As stated also by others (http://answers.ros.org/question/109371/remapping-rqt-published-topics/) the topics/services within a C++ rqt-Plugin seem to be in a private namespace, named by the plugin name.

This is not the case with python plugins, where non-global topics are correctly pushed down into the namespace that is given via "ROS_NAMESPACE", when rqt is started.

Even if this is by intention

[2015-02-03 15:22] dkargin commented on #97
I confirm that standalone RViz also has the same problem.

[2015-02-03 17:30] dirk-thomas commented on #97
@FrostHand can you please describe the scenario in detail in order to reproduce your problem.

The original ticket explicitly mentions that it does not happen for standalone rviz.

[2015-02-04 14:32] dkargin commented on #97
I can send rviz config and ros bag files to you. I guess there are invalid messages stored in this file.

[2015-02-04 16:32] dirk-thomas commented on #97
If there problem happens in standalone rviz please fill a new ticket with all the information in the rviz repository.

[2015-02-08 05:20] garaemon opened #100 "rqt_cpp does not work with tf"
Cannot include tf/transform_listener.h from rqt cpp programs.
[This repository](https://github.com/garaemon/rqt_cpp_tf) is the sample project and it produces following error:

[code]

[2015-02-08 05:39] dirk-thomas commented on #100
I just tried to build the provided repository and it compiled and linked without a problem.

[2015-02-08 05:44] garaemon commented on #100
wow really? Do you use indigo?

[2015-02-08 07:48] dirk-thomas commented on #100
Yes, Indigo.

[2015-02-08 08:09] garaemon commented on #100
It might be problem only on hydro... I will check it on indigo too.

[2015-02-08 08:48] garaemon commented on #100
I confirmed that it worked on indigo. Hmm...

[2015-02-08 08:49] garaemon commented on #100
It looks like boost/qt related problem. Is there any maintainer who knows how to avoid this error?

[2015-02-09 19:16] dirk-thomas commented on #100
The signals/slots of boost and Qt seem to collide: http://www.boost.org/doc/libs/1_57_0/doc/html/signals/s04.html#idp426500832

Since you can neither change the rqt plugin headers using Qt signals / slot nor the tf headers using boost I am not sure which workaround will work for you.

[2015-03-12 09:06] sromberg commented on #7
I still have that issue. Did I miss something?

[code]

Versions:

[code]

[2015-03-12 16:12] dirk-thomas commented on #7
The current binaries built on Trusty do not support PySide since the shipped `shiboken` version has a bug which prevents it from working: https://github.com/ros-visualization/qt_gui_core/blob/efc7692eab423a1cb7447c27f4e200d2216db2a4/qt_gui_cpp/src/qt_gui_cpp_shiboken/CMakeLists.txt#L44-L46

Until upstream fixes the problem there is nothing we can do about it.

[2015-03-14 14:17] sromberg commented on #7
Ok, thanks for your explanation.

[2015-04-30 00:19] dirk-thomas commented on #97
Since I can't imagine to catch these from Python I will mark it as "wontfix" and close it. If someone has a good idea how to achieve that please comment and it can be reopened.

[2015-04-30 00:19] #97 closed, assigned to nobody

[2015-04-30 00:21] dirk-thomas commented on #100
Since this is not a bug in rqt itself there is little I can do about it. Since it has been addressed upstream in newer versions I will close this (marked as wontfix). If anyone has input how to workaround this in rqt please comment to reopen the ticket.

[2015-04-30 00:21] #100 closed, assigned to nobody

[2015-04-30 00:34] dirk-thomas commented on #99
A rqt C++ plugin is not a ROS node but a ROS nodelet. Simply because roscpp does not support to run more then a single node per process. A nodelet always runs in a namespace (http://wiki.ros.org/nodelet) but can still be remapped.

Since this described behavior is intended and by design I will close this ticket since it can't be changed.

[2015-04-30 00:34] #99 closed, assigned to nobody

[2015-05-03 17:24] chrisspen opened #101 "No publisher plugin available for RQT"
Under the "Use RQT To Send Commands" section of the [ROS control tutorial](http://gazebosim.org/tutorials/?tut=ros_control) it says:

[code]

However, RQT no longer displays any such menu item. I've installed all the `ros-indigo-rqt-*` packages on Ubuntu 14.04, and [this is a screenshot](http://i.imgur.com/IFOv3Pp.png) of the resulting RQT plugins menu. There's no "Topics->Publisher" item availabl

[2015-05-03 19:26] dirk-thomas commented on #101
The plugin is called "Message Publisher" in the groups "Topics" in the "Plugins" menu. It should be available when you install `ros-indigo-rqt-publisher`. I would assume that this is not a bug in rqt itself but a problem with your specific installation because it works well for others.

Can you please post more information about your installation, e.g. the output of the following command:

[code]

[2015-05-03 20:44] chrisspen commented on #101
I have ros-indigo-rqt-publisher installed as well as every other ros-indigo-rqt-\* package.

[code]

[2015-05-03 22:04] ablasdel commented on #101
Mine seems fine but it seems to be a newer build of the same release

mine:

[code]

chrisspen's:

[code]

@chrisspen try:

[code]

[2015-05-04 00:57] chrisspen commented on #101
This is odd. I just re-ran:

[code]

and it ran perfectly, but when I run the upgrade I get the error:

[code]

It seems neither of those packages exist in the repo...

[2015-05-04 01:05] dirk-thomas commented on #101
What does the following command output:

[code]

Please also try running and post the output:

[code]

[2015-05-04 01:13] chrisspen commented on #101
Ah, thanks. It looks like my reinstall of desktop-full fixed the RQT plugin issue, because I'm now seeing the Topic item. This issue with upgrading and `ros-indigo-ipa-canopen` seems unrelated, so I'll report that elsewhere.

[2015-05-04 01:13] #101 closed, assigned to nobody

[2015-05-04 03:49] davetcoleman commented on #101
Glad we got to the bottom of this!

[2015-05-19 13:31] CatherineH opened #102 "export perspective opens a blank window"
When I try to export my perspective, I get a blank window. Here's a screenshot:

![export_perspective_not_rendering](https://cloud.githubusercontent.com/assets/1953328/7703953/53e2b454-fe09-11e4-816b-50f77f7a36d8.png)

I'm using Ubuntu 14.04, and I installed rqt_gui from ros-indigo-desktop-full.

[2015-05-30 18:01] sidcode opened #103 "Improper Rendering of text in rqt"
The attached figure - ![rqt_formatting](https://cloud.githubusercontent.com/assets/3395598/7898610/b3a424d2-0722-11e5-8229-fc9b9e4dab09.png)

ROS Indigo Version 1.11.13
Ubuntu 14.04
rqt_tf_tree  0.4.1
rqt_graph 0.3.11

The problem of Text rendering persists in all rqt applications for me.

[2015-05-30 19:07] dirk-thomas commented on #103
Please open the ticket in the issue tracker of the repository where `rqt_tf_tree` is in (https://github.com/ros-visualization/rqt_robot_plugins) and close this.

If a similar problem exists in `rqt_graph` please consider filling a separate issue in https://github.com/ros-visualization/rqt_common_plugins (with its own screenshot).

[2015-05-30 21:15] sidcode commented on #103
Thanks, I'll do that.

[2015-05-30 21:15] #103 closed, assigned to nobody

[2015-06-01 04:31] jmfurrer opened #104 "font size too large in rqt_graph, rqt_tf_tree etc. on high-dpi screens"
as reported [here on answers.ros.org](http://answers.ros.org/question/190133/rqt_graph-font-too-large/) about a year ago

[2015-06-01 06:11] dirk-thomas commented on #104
Please fill the ticket in the repository which contains the package and close this one:
- rqt_graph: https://github.com/ros-visualization/rqt_common_plugins
- rqt_tf_tree: https://github.com/ros-visualization/rqt_robot_plugins (the ticket https://github.com/ros-visualization/rqt_robot_plugins/issues/85 might be a duplicate?)

[2015-06-01 11:50] jmfurrer commented on #104
Had put it here as it seemed to be a general rqt problem (affects rqt_dep, rqt_graph, rqt_tf_tree...). Closed as issue ros-visualization/rqt_robot_plugins#85 describes this already.

[2015-06-01 11:50] #104 closed, assigned to nobody

[2015-09-17 23:07] dirk-thomas commented on #102
The code is only invoking `QFileDialog.getSaveFileName` (https://github.com/ros-visualization/qt_gui_core/blob/22f5c031ae97ba9ad88c0974f8dbf7bd2ae6b8ea/qt_gui/src/qt_gui/perspective_manager.py#L346). Therefore I don't think this can be a bug in rqt but more likely a rendering glitch in Qt itself.

Do you still have this problem on an up-to-date system?

[2015-10-16 00:45] shashwatak commented on #102
Hi, I am having an identical problem, any word on what this is or how to resolve it?

Is there another way to export perspectives?

[2016-01-06 09:16] jpardeiro commented on #96
I tried the last commit but this is not fixing the issue for me. Any other update regarding to this problem?

[2016-01-07 00:05] dirk-thomas commented on #96
No updates on this. The referenced commit is not related to this problem as far as I can see.

[2016-03-13 12:29] sorjef opened #105 "PySide image not found"
I'm using OS X El Capitan with the ROS Jade installed. When trying to run rqt I get the following error:

[code]

Any ideas?

[2016-03-13 12:33] sorjef commented on #105
Ok, this is related to https://github.com/PySide/PySide/issues/129

The temporary workaround with `DYLD_LIBRARY_PATH` described in that ticket worked. So if you observe this issue try executing this command and adding it to your `.bash_profile` (on OSX):

[code]

[2016-03-30 20:40] dirk-thomas commented on #105
I will close this ticket since it is an upstream problem and there is nothing `rqt` can do.

[2016-03-30 20:40] #105 closed, assigned to nobody

[2016-05-07 14:22] bytesnz opened #107 "Kinetic rqt dependency missing"
When running `rosrun rqt_graph rqt_graph` on a fresh install of ROS Kinetic (`ros-kinetic-desktop-full/xenial,now 1.3.0-0xenial-20160429-172040-0700 amd64`) and Ubuntu 16.04 LTS, I get the following error due to a missing dependency:

[code]

Fixed by installing package `python-pyqt5.qtsvg` (default version of Python - `Python 2.7.11+`)

[2016-05-07 16:05] dirk-thomas commented on #107
Duplicate of ros-visualization/rqt_common_plugins#373

[2016-05-07 16:05] #107 closed, assigned to nobody

[2016-05-07 20:35] bytesnz commented on #107
Ah. Apologies @dirk-thomas

[2016-05-31 09:49] thunderbug1 opened #108 "additional plugin instances when switching the perspective from the command line"
I just created two simple perspectives "a" and "b" and added a simple plugin instance to each of them ( for example plot and image view ).
When I use the command line command to switch between them, I get an additional plugin instance with every time I switch the perspective. These instances cannot even be closed by clicking the X.
It does not happen when I use the GUI to change the perspective.

[2016-07-20 17:45] mikepurvis commented on #96
What is the rationale for not reverting #95, given the severity of this regression? We're pinned to rqt 0.2.13 due to this issue.

[2016-07-20 18:28] dirk-thomas commented on #96
#95 is necessary to enable rqt plugins to use common features, e.g. ROS timers. So reverting the change would imply breaking these. Using an async spinner is the "right" way for nodelets. But as mentioned above the problem is that rviz is not designed to run in a nodelet.

Since the option to run `rqt` in multi-process mode is not available in Qt 5 I think the only way forward is to make rviz comp

[2016-07-20 18:38] mikepurvis commented on #96
I can accept that `rqt_rviz` is a community-maintained plugin, and therefore you're not going to block forward progress on its account, but it's frustrating that this has been broken for over two years. If OSRF do not have the resources to directly fix this issue, could you provide us with design guidance and review in order to get it fixed ourselves in a timely manner?

[2016-07-20 18:48] dirk-thomas commented on #96
I understand that the broken state is frustrating. It is simply a use case rviz was not designed for. But I don't expect that anyone at OSRF will have time to work on a fix. Simply because we are aware of the problem since over two years and didn't get to it until now (and none of our projects requests / relies on this functionality which could justify the effort).

I can't speak much about the in

[2016-07-21 17:47] mikepurvis commented on #96
@wjwwood Should we open a new ticket on the rviz tracker to discuss this? We're interested in fixing the issue here, but we can't invest effort in it unless OSRF will support the process.

[2016-07-21 18:58] wjwwood commented on #96
The problem is that even I don't know what needs to be done to fix the problem. It's going to take some enterprising individual becoming sufficiently familiar with rviz's runtime logic so that they can figure out what needs to change and why, and then communicate the rational to the maintainers (like me).

You can create a new ticket if you like, or continue the discussion on the existing issues a

[2016-09-05 19:03] ChristophTobler opened #109 "rqt plot (Kinetic) crashes in Ubuntu 16.04"
If I open rqt with `rqt` I can use image view etc. But if I try to open a plot, nothing happens or I get: Segmentation fault (core dumped)
When I run `rosrun rqt_plot rqt_plot` I get the following error:

Traceback (most recent call last):
  File "/opt/ros/kinetic/lib/rqt_plot/rqt_plot", line 6, in <module>
    from rqt_plot.plot import Plot
  File "/opt/ros/kinetic/lib/python2.7/dist-packages/rqt

[2016-09-06 16:38] dirk-thomas commented on #109
It looks like you are trying to use the `PyQtGraph` backend for `rqt_plot`. The standard installation should only provide the `Matplot` backend afaik. Can you please clarify how you have installed it? Did you manually install `python-pyqtgraph` (which is Qt 4 only)?

I don't think a Qt 5 version of PyQtGraph exists at the moment. I created ros-visualization/rqt_common_plugins#399 in the case `pyth

[2016-09-06 16:39] dirk-thomas commented on #109
Until the patch is merged and a new version of the package released you can apply the patch from the PR to your local files.

[2016-09-06 16:39] #109 closed, assigned to nobody

[2016-09-07 08:17] ChristophTobler commented on #109
Thanks. Yes, I installed `python-pyqtgraph` manually because an other package uses it.
So if I remove all rqt stuff (`sudo apt-get remove ros-kinetic-rqt-*` ?) and install it from source, it should work? Or will it just raise the error: 'PyQtGraph does not support Qt 5 at the moment' ?

[2016-09-07 13:49] dirk-thomas commented on #109
I wouldn't recommend installing all of rqt from source. Just apply the patch to the installed files. Whenever a new Debian package becomes available it will overwrite your modifications but the next patch releases should contain the fix anyway.

The plot plugin has three different backends (clock on the gear icon at the top right of the plot plugin to see). It should fall back to matplot.

[2016-09-08 22:03] dirk-thomas commented on #102
I will close this ticket and mark it with "wontfix" since `rqt` can't do anything to address this afaik.

[2016-09-08 22:03] #102 closed, assigned to nobody

[2016-09-19 16:50] dirk-thomas commented on #96
I have marked the plugin "experimental" (https://github.com/ros-visualization/rqt_robot_plugins/commit/7d53f4fa3f2da6f4d06ab37c493680eeeaa1468c) since this issue has been long standing and that gives users at least a more accurate expectation.

[2016-09-19 16:51] dirk-thomas commented on #71
I will close this since it is not likely that it will happen. Any contribution to implement this feature would be highly welcome.

[2016-09-19 16:51] #71 closed, assigned to nobody

[2016-09-20 10:39] vmatos opened #110 "Error when re-arranging widgets over plot. Kinetic, 16.04"
When I try to re-arrange widgets in rqt, whenever I pass with it over a plot widget, I get the error:
[code]

[2016-09-20 10:48] vmatos commented on #110
If I don't got over the plot widget, and drop it in place, I get:

[code]

[2016-11-08 12:38] diarodriguezva commented on #16
I am always getting segmentation faults in LinuxMint 17.3 and ros indigo, every time I run `rosrun rqt_gui rqt_gui`
My rospack version is 2.2.7
My rqt_gui version is 0.2.14
If I use `rosrun rqt_gui rqt_gui -b pyside`, the window is opened but I can not use C++ plugins

This is my first time using gdb, attached you find the log
[rqt_gui.txt](https://github.com/ros-visualization/rqt/files/578201/rqt

[2016-11-08 16:06] dirk-thomas commented on #16
The C++ binding are usually difficult to deal with. You might want to check the PySide version you are using (try a newer version if available?) and try to debug into the code why it fails in your case. Without being able to reproduce the problem I can't give you any better advise, sorry.

[2016-11-23 17:54] oKermorgant opened #111 "rqt_* crash on KDE Neon 5.8"
I use KDE Neon (based on Ubuntu with latest KDE stuff) since 16.04 without a flaw with ROS.
Since a recent upgrade, all rqt_ programs crash at startup.

Did a quick install of Kubuntu 16.04 (without, then with KDE PPA) and in both cases everything runs fine. It seems to be related with Python-SIP and Qt version.

Here are the configurations :

On KDE Neon 5.8
KDE Plasma 5.8.4
Qt 5.7.0
Kernel 4.4.0

[2016-11-24 07:56] RYO0115 commented on #110
I have the same problem running rqt_gui on Ubuntu 16.04.

  File "/opt/ros/kinetic/lib/python2.7/dist-packages/qt_gui/dock_widget.py", line 90, in _event
    new_parent = self._get_new_parent(widget)
  File "/opt/ros/kinetic/lib/python2.7/dist-packages/qt_gui/dock_widget.py", line 139, in _get_new_parent
    widget = widget.parent()
TypeError: 'Canvas' object is not callable

  File "/opt/ros/kine

[2016-12-01 01:16] mikepurvis commented on #96
I have also added an admonition to the rqt_rviz wiki page:

http://wiki.ros.org/rqt_rviz

[2016-12-20 22:09] dirk-thomas commented on #110
@vmatos @RYO0115 Can you please try the proposed fix from ros-visualization/qt_gui_core#76 and confirm if it fixes the problem for you.

If there are problems remaining can you please describe the exact steps how to reproduce it.

[2016-12-21 12:06] vmatos commented on #110
My procedure:
[code]

Then I verified the error was reproducible:
1. overlaying workspace: `source devel/setup.bash`
1. run: `rqt`
2. Place 2 plot widgets.
3. Hold widget and try moving it over plot area.
4. Get error.

Then I tested the fix:
1. run: `rqt`
2. Place 2 plot widgets.
3. Hold widget and try moving it over plot area.
4. No error!

@dirk-thomas My test indicates this PR fixes my first i

[2016-12-21 14:18] dirk-thomas commented on #110
I was able to reproduce the first error easily. The PR fixes (also for you) which is good. But I never saw the second error. What are the steps to reproduce the second one?

[2016-12-21 14:25] vmatos commented on #110
To reproduce the 2nd error:

1. run: `rqt`
2. Place 2 plot widgets. they should appear side by side.
3. Move one of the plot widgets over the other, so they are distributed vertically.
4. Get error

[2016-12-21 16:47] dirk-thomas commented on #110
I can reproduce the second error with these steps. Unfortunately the error is within `matplotlib` and I am not sure if there is anything we can do in the rqt plugin itself. Btw it is also ticketed upstream: matplotlib/matplotlib#5456

[2017-01-19 15:34] igor-krawczuk opened #112 "rqt crashes due to import error on kinetic"
Hope this is the right place to report this:

both `rosrun rqt_gui rqt_gui` and `rqt` give the following error on typing

[code]

System context:

[code]
ros-kinetic installed via official way, all seems to be up to date. I think this is due to the change from qt4 to qt5 if my googling gave me the right idea?

[2017-01-19 16:06] dirk-thomas commented on #112
Can you please also post the version number of `python_qt_binding`. Can I assume that you have installed these packages from the apt repo?

[2017-01-19 16:20] igor-krawczuk commented on #112
[code]

yes, installed it all through the apt repo. I checked in the git repo of qt_gui_core in ros-visualizations though, and it does the same imports if I read it correctly.

[2017-01-20 02:09] dirk-thomas commented on #112
That is weird. It works fine for me as well as others. Lets try to debug a bit deeper. After sourcing the ROS environment can you please run the following commands in an interactive Python shell:

[code]

The second line will tell us if you are using PyQt or PySide. The third line will likely fail since that is what rqt is calling in your stacktrace.

[2017-01-23 18:51] dirk-thomas commented on #111
Please consider to provide a PR since I don't have a platform to test this on.

[2017-01-23 22:51] igor-krawczuk commented on #112
Here is the output

[code]

[2017-01-23 22:53] dirk-thomas commented on #112
It looks to me that you are using Qt4. Can you please additionally post the output of:

[code]

You can also try:

[code]

[2017-01-23 23:07] igor-krawczuk commented on #112
Seems so
[code]

Should I try and remove it and replace it by pyqt5?

*edit*: tried and apparentely for me python-qt-binding depends on the python-pyqt4 package when installed via apt, so possibly this is an error with the repository

[2017-01-23 23:13] dirk-thomas commented on #112
I am kind of puzzled. `python_qt_binding` in Kinetic only uses PyQt5 (https://github.com/ros-visualization/python_qt_binding/blob/c36afe8515c5424501f106fe6303cc84ec11e4df/src/python_qt_binding/binding_helper.py#L153). There is no code which would fall back to import PyQt(4).

Maybe you can add `print` statements to `/opt/ros/kinetic/lib/python2.7/dist-packages/python_qt_binding/binding_helper.py`

[2017-01-23 23:19] igor-krawczuk commented on #112
like this?
[code]

This does not get printed on my system. Thank you for helping me debug with such an awesome response time by the way

[2017-01-23 23:22] dirk-thomas commented on #112
No problem, we have to figure it out somehow :wink:

Can you add a message before and after [this line](https://github.com/ros-visualization/python_qt_binding/blob/c36afe8515c5424501f106fe6303cc84ec11e4df/src/python_qt_binding/binding_helper.py#L89) as well as in the `else` and `except` block. The value of `QT_BINDING` at the beginning and end of that function might also be valuable.

[2017-01-23 23:30] igor-krawczuk commented on #112
Adding this:
[code]

leads to this output:
[code]

[2017-01-23 23:34] dirk-thomas commented on #112
The other code still trips over the same problem. Can you keep your debug message but import the `python_qt_binding` module in a Python interpreter:

[code]

That should print something... hopefully...

[2017-01-23 23:41] igor-krawczuk commented on #112
It did not in fact print something, so I got suspicios wether the python path is set correctly:
[code]

apparently not, I will try to find out why but I am a bit confused now

[2017-01-23 23:43] dirk-thomas commented on #112
Very good catch :fishing_pole_and_fish:

Can you check with `dpkg -S /usr/lib/python2.7/dist-packages/python_qt_binding/__init__.py` which package provides this file (and what version number it has). I fear it will be an upstream Debian package.

[2017-01-23 23:52] igor-krawczuk commented on #112
Seems so:
[code]

should I try and remove and reinstall via pip?

**edit**:
judging by this:
[code]
possibly just removing will be enough, I will try

**edit2**: success!!! in a way:
[code]

[2017-01-23 23:59] dirk-thomas commented on #112
You should just purge this package (and maybe other packages?). You should already have `ros-kinetic-python-qt-binding` installed which provides the newer code.

In general on Ubuntu you shouldn't need to install anything via PIP (for ROS).

Just as a reference: mixing Debian / Ubuntu upstream packages with the ROS packages provided by our apt repo is not working and has plenty of problems like th

[2017-01-24 00:05] igor-krawczuk commented on #112
Thank you very much again for the help in debugging this!

[2017-01-24 00:05] #112 closed, assigned to nobody

[2017-01-24 00:06] dirk-thomas commented on #112
Thanks for spending the time and helping debugging this!

[2017-01-24 18:36] dirk-thomas commented on #108
Thank you for the report. I am sorry that it took quite a while to find time to look into this problem. And then the source of the problem was not that easy to identify :wink:. I finally came up with a fix for this bug: ros-visualization/qt_gui_core#80

[2017-01-24 18:48] #108 closed, assigned to nobody

[2017-01-25 15:28] zaidpirwani commented on #109
How can I "just apply the patch to the installed files"

please explain a bit, I dont know how?

[2017-01-25 16:47] dirk-thomas commented on #109
@zaidpirwani You have multiple options:

* Clone the `rqt_common_plugins` repo into your catkin workspace and use it from there.

* Modify the installed files in-place: edit `/opt/ros/kinetic/lib/python2.7/dist-packages/rqt_plot/data_plot/pyqtgraph_data_plot.py` and apply the same diff as in ros-visualization/rqt_common_plugins#415.

* Use the [shadow-fixed](http://wiki.ros.org/ShadowRepository) /

[2017-02-03 11:43] zaidpirwani commented on #109
Thanks, I think I will wait.

[2017-02-05 21:18] juakofz opened #114 "rqt segfaults on kinetic"
Hi everybody. This is a question I originally posted on ROS answers ([link](http://answers.ros.org/question/253655/rqt-segmentation-fault-following-tutorials/))

I just installed ROS Kinetic Kame on Ubuntu 16.04 following the tutorials (full desktop install). When I get to the 6th beginner tutorial (Understanding ROS Topics, http://wiki.ros.org/ROS/Tutorials/Und... ), at 2.1, when I try to run rqt

[2017-02-14 08:52] oKermorgant commented on #111
I went back to classical 16.04, but still have a KDE Neon with Qt 5.7 in a virtual machine to run tests.
As of now all rqt_* programs still crash, but I guess this is due to issues in Python / Qt5.

I do not have either the skills or the time to provide a PR, so I'll close this issue hoping that it will be solved by the PyQt5 guys eventually.

[2017-02-14 08:52] #111 closed, assigned to nobody

[2017-02-17 16:49] gortium commented on #114
+1 Ubuntu 16.04 kinetic
rqt or rosrun rqt_graph rqt_graph result in segmentation fault (core dumped)

[code]

[2017-02-17 17:26] dirk-thomas commented on #114
Please provide more information, e.g. the version numbers of all involved packages: Qt, `ros-kinetic-python-qt-binding`, `ros-kinetic-qt-gui`, `rqt`, PyQt / PySide, etc.

[2017-02-17 17:50] gortium commented on #114
[code]

That is what i got after installing ros-kinetic-descktop-full

[2017-02-17 18:22] dirk-thomas commented on #114
On Xenial Qt / PyQt version 5.5 is the default. Have you manually installed version 5.6? If yes, that is likely causing the segfault since the ROS binary packages are linked against version 5.5 and are likely not ABI compatible with a different minor releae.

[2017-02-17 18:46] gortium commented on #114
Synaptic say 5.6 is the lates version avalable.. When i try to force it to 5.5 it fail.
I updated my kernel to the latest mainline to fix a not waking up issue. Could this be the cause ?

[2017-02-17 19:10] dirk-thomas commented on #114
According to the Ubuntu website Xenial contains 5.5: http://packages.ubuntu.com/search?suite=xenial&keywords=libqt5core5a

I don't know how you ended up with 5.6 but I am quite certain that is the problem. You can either try to get back to 5.5 or you have to rebuild all ROS Kinetic packages which depend on Qt (and use C++ code) from source.

[2017-02-17 20:58] gortium commented on #114
Ok thank you for your help! i will report back when it is done !!

[2017-02-17 21:29] dirk-thomas commented on #114
@juakofz I would be good if you could report back about your case too since it looks like this can be closed.

[2017-02-17 21:30] gortium commented on #114
OK i found why i had 5.6. Because i added a ppa needed to install cura. Cura probably need pyqt5.6. So after reinstalling pyqt5.5 everything work. Thank you !!

I cannot speak for @juakofz thought

[2017-02-17 21:31] dirk-thomas commented on #114
@gortium Thank you for checking and reporting back.

[2017-02-17 21:55] juakofz commented on #114
I eventually gave up and fixed my problem by reinstalling ubuntu, as I was using it solely for this purpose

[2017-02-17 22:02] #114 closed, assigned to nobody

[2017-02-23 20:43] kgumvj opened #115 "rqt console does not display message"
I am fairly new to ROS and rqt
When run the rqt_console, the message doesn't display.  It shows "Displaying 0 of 1 messages".
Also rqt shows nothing in the pop-up window.
Thanks a lot.

[2017-02-23 20:58] dirk-thomas commented on #115
I am not sure if you have seen the [ROS support guidelines](http://wiki.ros.org/Support) but we kindly ask to raise questions like this on [answers.ros.org](http://answers.ros.org/) instead.

The rational for asking all kind of questions in a single place is:
* There are many more people reading questions there so your chances on getting an answer and in a timely manner are much higher.
* In the f

[2017-02-23 20:58] #115 closed, assigned to nobody

[2017-03-30 02:29] DavidHan008 opened #116 "when run rqt in terminal meet core dump"
when I want to run:  rosrun rqt_graph rqt_graph and find core dump. I find all of rqt plugs is not work.

[2017-03-30 15:32] dirk-thomas commented on #116
Please provide enough information that others can try to help you. In this case:

* What platform are you on?
* Have you installed binary package or compiled from source (in both cases: which versions?)?
* Please run the application with `gdb` to provide a stacktrace how it exactly fails.

[2017-04-05 12:26] beetleskin commented on #109
With the currently released verision of python-pyqtgraph (0.9.10-5), this is still an issue. Or again? Running `rqt_plot` triggers:
[code]

Diving into the code reveals that
[code]
already throws in the Qt-version mismatch exception. The actual raise beyond (`ImportError('A newer PyQtGraph version is required (at least 0.10 for Qt 5)')`) is never reached.

[2017-04-05 14:44] dirk-thomas commented on #109
@beetleskin Please provide more information which versions of the involved packages you are using.

Without being able to reproduce the problem you will need to debug further and identify why it is failing for you. You might want to try running the import commands in a Python interpreter to narrow down what exactly fails and why. One note which might help: in Kinetic `rqt` uses Qt 5 (not Qt 4).

[2017-04-07 14:10] vincentrou commented on #109
@beetleskin I had the same problem when installing pyqtgraph with apt (version 0.9.10)
But it works fine when using the deb package here http://www.pyqtgraph.org/

[2017-04-19 10:28] beetleskin commented on #109
@vincentrou True that .. so I guess we just wait until this one is released.

@dirk-thomas Reproduction is easy, just install the current releases of the two packages on Ubuntu 16.04:
* **ros-kinetic-rqt-plot**: 0.4.7-0xenial-20170308-221732-0800
* **python-pyqtgraph**: 0.9.10-5

.. and run `rqt_plot`

[2017-04-20 16:12] dirk-thomas commented on #109
@beetleskin `python-pyqtgraph` is using Qt 4. `rqt` in `Kinetic` is using Qt 5. So that combination can't work - hence the Qt version mismatch. You need at least version 0.10 of `pyqtgraph` (see [changelog](https://github.com/pyqtgraph/pyqtgraph/blob/develop/CHANGELOG)).

[2017-04-23 22:38] beetleskin commented on #109
Sure, I'm aware of the problem. But since there is already a Qt-version check (but fails) and a fallback in rqt-plot, in case of unsupported qt-versions in pyqtgraph, and the currently stable released version of rqt_plot crahses with the currently stable released version of pyqtgraph .. why not fixing the issue and have a working version of rqt_plot in that (special?) case?
Manually installing ano

[2017-04-23 22:54] dirk-thomas commented on #109
I might not understand your comment. Can you please clarify how you would suggest to fix the issue / propose a pull request to do so.

[2017-04-24 19:42] dirk-thomas opened #119 "rqt_py_common: Standardized ROS message selector interface"
_From @ablasdel on February 13, 2013 23:8_

A number of plugins want to refer to `topic`/`services`/`action`s.

It would be nice to have a widget in rqt_py_common that any plugin could easily use to select one of these items.

examples of ways it has been done:
rqt_msg, rqt_srv, rqt_action, rqt_publish, rqt_graph

_Copied from original issue: ros-visualization/rqt_common_plugins#34_

[2017-04-24 19:50] dirk-thomas opened #120 "General-purpose double value editor"
_From @adolfo-rt on June 25, 2014 7:57_

I'd consider it very useful to have a feature-complete widget for editing double values. This is a recurring theme that has been implemented more than once, and that could benefit from a good, well documented reference implementation.
### Current state

Currently **rqt_reconfigure** has its [DoubleEditor](https://github.com/ros-visualization/rqt_common_plug

[2017-04-24 19:50] dirk-thomas commented on #120
That would be a good generalization. The class(es) could go into `rqt_py_common` then.

[2017-04-24 19:50] dirk-thomas commented on #120
_From @ablasdel on June 26, 2014 18:49_

+1

[2017-06-15 09:30] HoussemRouis opened #121 "fatal error: rqt_gui_cpp/plugin.h: No such file or directory"
Hello,

I'm trying to build PTAM on ROS : http://wiki.ros.org/ethzasl_ptam but I'm getting the following error:
  `remote_ptam.h:38:32: fatal error: rqt_gui_cpp/plugin.h: No such file or directory`
I checked and rqt_gui_cpp/plugin.h does exist under /opt/ros/kinetic/include.
I'm working with Ros Kinetic on Ubuntu 16.04.
QMake version 2.01a
Using Qt version 4.8.7 in /usr/lib/x86_64-linux-gnu
Does a

[2017-06-15 15:35] dirk-thomas commented on #121
Since the file exists (https://github.com/ros-visualization/rqt/blob/4eea6b68218af14fa21b962490c567260e06419a/rqt_gui_cpp/include/rqt_gui_cpp/plugin.h) you are likely not setting up the environment correctly. You might want to check your CMake logic if it sets the `include directories` correctly.

I am not sure if you have seen the [ROS support guidelines](http://wiki.ros.org/Support) but we kindl

[2017-06-15 15:35] #121 closed, assigned to nobody

[2017-07-04 12:42] miquelmassot opened #122 "Segmentation fault on any rqt related tool"
ROS Kinetic on Ubuntu 16.04

    gdb --args python /opt/ros/kinetic/bin/rqt

returns

[code]

Tried updating packages, with no help. If you help me on what can I do, I'm looking forward to doing it. Similar to #116 ?

[2017-07-05 08:29] miquelmassot commented on #122
Found the issue: the software cura from ultimaker (used for 3d printing and slicing) installed version 4.18 of python-sip, when ROS expects 4.17. This may have broken it.
Solution: Remove cura ppa, remove any cura ppa package installed (which will remove ROS) and reinstall ROS from ppa.

[2017-07-05 08:29] #122 closed, assigned to nobody

[2017-07-18 21:45] dirk-thomas commented on #96
This issue was moved to ros-visualization/rqt_rviz#6

[2017-07-18 21:45] #96 closed, assigned to nobody

[2017-07-18 21:47] dirk-thomas commented on #116
Closing for now due to lack of response. Please feel free to comment with the requested information and the ticket can be reopened.

[2017-07-18 21:47] #116 closed, assigned to nobody

[2017-07-24 20:53] piyushk opened #123 "rqt perspective saves window size in a resolution dependent manner"
I believe that window resolution is being saved dependent on the current window size. It would make much more sense to save the window size in absolute pixels instead.

Steps to reproduce:
1. Run a fresh rqt gui instance with `--clear-config`
2. Add 2 plugins (Image view and Robot Steering), and resize the window to roughly a quarter of your screen. My screen looks as follows (dual screen at 1920

[2017-07-24 21:02] dirk-thomas commented on #123
This issue was moved to ros-visualization/qt_gui_core#98

[2017-07-24 21:02] #123 closed, assigned to nobody

[2017-11-05 05:42] jacknlliu opened #125 "Enable scale item column in rqt sub-window"
Every rqt plugin like `topic monitor`, we can't scale the item column width, this lead that we can't see every detail easily.

![rqt_topic](https://user-images.githubusercontent.com/6220143/32412333-124a4376-c22f-11e7-9c3a-e667d1f2594a.png)

[2017-11-06 05:33] dirk-thomas commented on #125
Each rqt plugin is providing the UI on its own. Therefore `rqt` can't do anything about it. Please consider filling issues in the issue tracker of each plugin which has this problem (e.g. https://github.com/ros-visualization/rqt_topic). It will likely speed up the fix if you could provide a pull request for these plugins.

Since there is nothing which can be done in this repository I will close th

[2017-11-06 05:33] #125 closed, assigned to nobody

[2017-12-12 13:31] aravindharinair opened #126 "QXcbConnection"
Hi.
Sorry for posting this as in issue in Github. I couldn't on ROS Answers as it's apparently down.
So, I'm learning ROS for a college project and I'm running Ubuntu 16.04 off Windows Subsystem for Linux as I'm not allowed to dual-boot my laptop. I don't have a spare machine lying around, so I'm running like this.
Now the problem is that when I run `rqt`, I'm getting an error stating:
`QXcbConnec

[2017-12-12 13:42] dirk-thomas commented on #126
Please check back when answers.ros.org is back online and then ask your question there. Please consider to post the link to the question here afterwards.

[2017-12-12 13:42] #126 closed, assigned to nobody

[2017-12-12 13:43] dirk-thomas commented on #126
Please check back when answers.ros.org is back online and then ask your question there. Please consider to post the link to the question here afterwards.

[2017-12-12 18:16] aravindharinair commented on #126
Ok. Will do that once ROS Answers is online and get back to you.

[2018-01-15 18:42] AndyZe opened #127 ""PluginManager.__init__() multiprocess-mode only available under linux""
`rqt -m` causes this error.

I'm using Ubuntu 16.04 (Kinetic) and I believe X11 is running. `sudo Xorg -version` gives:

`echo $XDG_SESSION_TYPE` gives

`top` shows Xorg running, and entering `sudo Xorg` from terminal gives:

[2018-02-25 15:54] lucasw opened #128 "rqt --perspective-file crashes on unknown plugins"
[unknown_plugin.perspective.txt](https://github.com/ros-visualization/rqt/files/1756351/unknown_plugin.perspective.txt)

[code]

I'd like to make it instead generate an error message but then go on to try to load the rest of the perspective.

One more step beyond this could be to load a dummy plugin with an error message displayed in it so it's clear that what is missing from what part of the pers

[2018-02-25 16:07] lucasw commented on #128
Oops this is a job for qt_gui_core https://github.com/ros-visualization/qt_gui_core/issues/109

[2018-02-25 16:07] #128 closed, assigned to nobody

[2018-03-28 02:17] phy25 commented on #127
This seems like an issue in [qt_gui_core](https://github.com/ros-visualization/qt_gui_core).

[2018-04-02 12:53] hecperleo opened #129 "Failed to load nodelet"
Hi, I can not find my error. Last week I was using without problems my plugin, but now I get this output if I run rqt and click on Plugins->myplugin:

`[ERROR] [1522672973.392465626]: Failed to load nodelet [rqt_mygui/MyPlugin_1] of type [rqt_mygui/MyPlugin]: Could not find library corresponding to plugin rqt_mygui/MyPlugin. Make sure the plugin description XML file has the correct name of the lib

[2018-04-02 14:13] dirk-thomas commented on #129
I am not sure if you have seen the [ROS support guidelines](http://wiki.ros.org/Support) but we kindly ask to raise questions like this on [answers.ros.org](http://answers.ros.org/) instead.

The rational for asking all kind of questions in a single place is:
* There are many more people reading questions there so your chances on getting an answer and in a timely manner are much higher.
* In the f

[2018-04-02 14:13] #129 closed, assigned to nobody

[2018-04-02 19:24] dirk-thomas commented on #127
The multi-process mode is not supported in Qt 5. See ros-visualization/python_qt_binding#34 for more information why that is the case. The check was before only failing on non-Linux platforms since they didn't support the `X11Embed` API. In Qt 5 those have been removed entirely which makes the feature unsupported across all platforms and the error message kind of weird.

See ros-visualization/qt_g

[2018-04-02 22:59] #127 closed, assigned to nobody

[2018-04-19 16:07] vitomillan opened #130 "rqt Segmentation fault since update ubuntu 16.04 + ROS kinetic"
I use ubuntu 16.04 and ROS kinetic.
A few days ago rqt was updated by sudo apt-get update.

Since then I believe all rqt plugins/ applications fail due to
`Segmentation fault`

I guess it might be due to python-pyqt4 vs python-pyqt5 dependencies.
I tried to remove python-pyqt4 and install python-pyqt5 to fix this.

`sudo apt-get install python-pyqt5`
`sudo apt-get remove python-pyqt4`

I guess thi

[2018-04-19 16:11] dirk-thomas commented on #130
You seem to be using Qt 4 on your system which is not supported by `rqt` in `Kinetic`. This doesn't look like to be a problem in `rqt` itself.

If you need help debugging what is wrong on your system you might want to ask on answers.ros.org. I would recommend to try reinstalling the `rqt` packages (and its dependencies) again to ensure the necessary dependencies are being pulled in.

[2018-04-19 16:21] vitomillan commented on #130
First of all: Thanks a lot! You're just super fast! :D
How would I want to do this?

Doing
`apt-get remove rqt*`
will delete lots of stuff! ^^

I did
 `sudo apt-get remove python-pyqt5`
just now and
reinstalled rqt stuff with
`sudo apt-get install ros-kinetic-rqt ros-kinetic-rqt-common-plugins`

but the error remains... :(

[2018-04-19 16:24] dirk-thomas commented on #130
It sounds like some Qt 4 specific package is interfering. I don't have any specific suggestion though. That is why I suggested answers.ros.org where more people will read your question and might have a suggestion.

[2018-04-19 16:56] vitomillan commented on #130
Then thanks anyway! I would like to wait for tommorrow if there's someone who has an idea on that.
And I will go then for your advice of course!

[2018-04-20 17:53] vitomillan commented on #130
Hey Thomas!

Thanks again! I moved this to answers.ros.org. Actually I still not have a clue about what to do, but maybe you will want to close this now...idk. xD

Otherwise I will try to keep it up to date here. :)

[2018-04-20 17:56] dirk-thomas commented on #130
It would be good to post the link to your question so that future readers can find it easily.

[2018-04-20 17:56] #130 closed, assigned to nobody

[2018-04-25 16:29] vitomillan commented on #130
Sry..for late response. I wanted to add the link after question is solved and was not in town for some days. But rqt still isn't working. It's not pyqt4.

https://answers.ros.org/question/289239/rqt-segmentation-fault-since-update-ubuntu-1604-ros-kinetic/?answer=289635#post-id-289635

[2018-04-25 16:44] vitomillan commented on #130
https://answers.ros.org/question/253655/rqt-segmentation-fault-following-tutorials/

did the trick! - Solved -

[2018-06-05 14:18] krixkrix opened #131 "rqt container plugin freeze"
I see frequent lockups when trying to place plugins inside the rqt _container_ widget.
For me it is extremely easy to reproduce:

1. launch roscore
2. launch an empty rqt window
3. launch a _container_ plugin from the rqt menu
4. launch any other plugin from the rqt menu, for example _Topics/Topic Monitor_
5. drag the _Topic Monitor_ widget over the _container_ widget and drop it
6. drag the _Topi

[2018-06-06 00:12] Redox15 opened #132 "No module named PySide2.QtCore"

[2018-06-06 00:15] Redox15 commented on #132
Can't run rqt, rqt_bag, rqt_image_view,...
Same error for all

My LD_LIBRARY_PATH:
`/opt/Qt/5.9.1/gcc_64/lib:/home/andre/catkin_ws/devel/lib:/opt/ros/melodic/lib:/opt/Qt/5.9.1/gcc_64/lib:/opt/pleora/ebus_sdk/Ubuntu-x86_64/lib/genicam/bin/Linux64_x64:/opt/pleora/ebus_sdk/Ubuntu-x86_64/lib:/usr/local/lib`

A few weeks ago it was working. Any guess?

[2018-06-06 01:07] dirk-thomas commented on #132
What platform are you on? What Qt version do you have installed? What version of the ROS package `python_qt_binding` do you have installed?

[2018-06-06 08:27] Redox15 commented on #132
Sorry, first time reporting an issue.

Ubuntu 18.04
Qt 5.9.1
How can I know the version of that package?

[2018-06-06 08:43] DorianScholz commented on #132
This looks like a version mismatch between your Qt version and your PyQt version.
Ubuntu 18.04 comes with Qt 5.9.5 and PyQt that was compiled against that specific version.
For some reason you have a local install of Qt 5.9.1 in your LD_LIBRARY_PATH which seems incompatible with the installed PyQt libraries.
Try removing the Qt 5.9.1 paths from LD_LIBRARY_PATH before running rqt.

[2018-06-07 11:32] Redox15 commented on #132
Removing the Qt 5.9.1 paths from LD_LIBRARY_PATH kinda solve it because now I can run the rqt commands. However, using rqt_bag it wasn't possible to see the image on sensor_msgs/Image messages.

[2018-06-07 12:39] DorianScholz commented on #132
Sounds like the original issue is solved.
May I refer you to the ROS answers site for questions about using rqt_bag.

[2018-06-07 12:39] #132 closed, assigned to nobody

[2018-06-29 20:53] Abduoit opened #133 "rqt does not working !!!"
When I run `rqt` I get the following error and generate file name `core`

Any help !!!

[code]

[2018-07-06 00:06] dirk-thomas commented on #133
I am not sure if you have seen the [ROS support guidelines](http://wiki.ros.org/Support) but we kindly ask to raise questions like this on [answers.ros.org](http://answers.ros.org/) instead.

The rational for asking all kind of questions in a single place is:
* There are many more people reading questions there so your chances on getting an answer and in a timely manner are much higher.
* In the f

[2018-07-06 00:06] #133 closed, assigned to nobody

[2018-07-28 12:46] GavinKane opened #134 "rqt fails to launch X11 window on WSL"
On WSL with Ubuntu 16.04 xenial and Kernel: x86_64 Linux 4.4.0-17134-Microsoft
Using XMing on windows, and "export DISPLAY=:0" activated.
On executing **rqt**, it fails and gives the error:
[code]

[2018-07-31 16:15] dirk-thomas commented on #134
WSL is not a platform we usually test on / support. Please consider to provide a pull request for supporting this.

[2018-07-31 18:51] GavinKane commented on #134
I can however it confirms with VcXsrv.
Thanks to eric-wieser for the hint, who said

[2018-08-01 12:02] Herschelpu opened #135 "rqt_plot cannot receive any data"
I tried to plot my data into rqt_plot to get the figure. However rqt suddenly return zeros for all of my data. I checked the data by using "rostopic echo" command and it actually has non-zero data stream. I created a node that only had one publisher publishing a non-zero number but also got zero plot. I also tried to reinstall this ros-kinetic-rqt but still not working..... so is there anyone know

[2018-08-03 22:35] dirk-thomas commented on #135
I tried to publish a number using the command line tools:

[code]

And after selecting the topic `/number` in the `rqt_plot` gui the line is plotted at the expected value.

[2018-10-11 17:09] mlautman opened #136 "Consolidating RQT packages"
Hello maintainers!

PickNik is working on a port of RQT to ROS2. We would like to make these changes for ROS2 in a fork so that we can cherry-pick commits back to the upstream repo. In order to do this we will have to consolodate the RQT packages into a single repository that we can fork to the ROS2 organization.

The MoveIt! project did the same thing a few years ago and it has made it much easie

[2018-10-11 17:30] dirk-thomas commented on #136
Are you referring to the repositories containing the rqt plugins?

[2018-10-11 17:44] dirk-thomas commented on #136
That is great. Please share this also on discourse to make more people aware of this (to avoid duplicate efforts).

In general we don't recommend forking existing ROS 1 repos to the `ros2` org unit. Instead I encourage you to (at least long term) not use forked repos but to contribute a `ros2` branch in the existing repositories. For initial development having a forked repo should be fine. If you

[2018-10-11 23:52] mlautman commented on #136
@dirk-thomas Thanks for the quick reply!

I actually just posted on Discourse earlier today. I have added the link above :)

Let's discuss offline and come back to this once we've come to a resolution on the best strategy moving forward.

[2018-10-11 23:52] #136 closed, assigned to nobody

[2018-10-17 04:50] hansenmaster opened #138 "doing roslaunch in rqt"
How to do roslaunch just by clicking on button in rqt?

Thanks

[2018-10-17 05:11] dirk-thomas commented on #138
I am not sure if you have seen the [ROS support guidelines](http://wiki.ros.org/Support) but we kindly ask to raise questions like this on [answers.ros.org](http://answers.ros.org/) instead.

The rational for asking all kind of questions in a single place is:
* There are many more people reading questions there so your chances on getting an answer and in a timely manner are much higher.
* In the f

[2018-10-17 05:11] #138 closed, assigned to nobody

[2018-10-20 08:40] pipigenius commented on #121
I meet the same problem, how did you solve it?
Thank you in advance.

[2018-10-20 08:41] pipigenius commented on #121
Hi, I've met the same problem, could you plz tell me how did you solve it?

[2018-11-08 01:10] mlautman opened #154 "implement list_files in rqt_py_common"
a list_files needs to be implemented for rqt_launch to be ported to ROS2

https://github.com/ros-visualization/rqt/blob/32c18584fb12e0bf846f4238fb5dabeb20d820d6/rqt_py_common/src/rqt_py_common/rqt_roscomm_util.py#L147

[2018-12-04 18:21] brawner opened #165 "ROS2 port: Button icons don't show in Mac/Windows"
Buttons for several plugins don't show the icons that show up in linux. For example, the add/remove/clear publisher(s) in rqt_publisher.

[2018-12-04 18:38] brawner opened #166 "ROS2 port: migrate to pure python package"
In order to open an rqt_gui window using ```ros2 run rqt_gui rqt_gui``` it needs to be compiled as an application (Windows can't execute scripts without a provided interpreter and ignores the shebang). It was recommended to create a pure python package for rqt_gui instead of an ament_cmake package.

[2018-12-07 01:32] mlautman opened #168 "ROS2 callback execution groups"
We may want to add a `ReentrantCallbackGroup` to the plugin context so that multiple plugins can have callbacks serviced simultaneously.

[2018-12-10 19:14] brawner commented on #168
From @dirk-thomas's comment (https://github.com/ros-visualization/rqt/pull/167#discussion_r240293932), this does not sound like a desirable fix.

From Dirk:

[2018-12-10 19:15] #168 closed, assigned to nobody

[2018-12-11 22:44] dirk-thomas opened #178 "[rqt_gui_cpp] support for Windows"
Currently it is being skipped on Windows: see ros-visualization/rqt#177.

[2018-12-11 23:14] dirk-thomas commented on #166
Addressed in #170.

[2018-12-11 23:14] #166 closed, assigned to brawner

[2018-12-13 02:16] brawner opened #181 "ros2: Destroying subscriptions from a separate thread crashes python rqt_gui"
There is something not thread safe about creating a subscription in a rclpy plugin and then destroying it later in the same plugin. This was the stacktrace when python crashed.

This is currently reproducible in rqt_plot by subscribing to a topic and then deleting the subscriber.
[code]

[2018-12-13 02:31] dirk-thomas commented on #181
Almost all rmw functions are marked as non-thread-safe. Therefore I don't think you can expect it to work when calling functions from one thread while waiting / spinning in another QThread.

[2018-12-13 02:55] brawner commented on #181
@dirk-thomas Ok, then this package needs to handle that somehow. Why mark it invalid?

[2018-12-14 00:28] wjwwood opened #182 "ros2: rqt --list-plugins sometimes segfaults"
I'm testing a ROS 2 Crystal release candidate on macOS (building from source), and I sometimes get:

[code]

I've been trying to reproduce it in the debugger, but I haven't been able to do so thus far. I'll keep trying for that or a core file.

Also, in the debugger I get this, though I don't know if it's related or even in rqt (maybe inside PyQt?):

[code]

[2018-12-14 00:32] wjwwood commented on #182
Adding `--force-discover` makes it more reliable, here's the crash report from macOS:

<details>
<pre>
Process:               python3.7 [19342]
Path:                  /private/tmp/*/python3
Identifier:            python3.7
Version:               ???
Code Type:             X86-64 (Native)
Parent Process:        bash [16227]
Responsible:           python3.7 [19342]
User ID:               501

Date/T

[2018-12-14 00:45] wjwwood opened #183 "ros2: cannot click the menus on macOS until switching windows"
Testing a release candidate of ROS 2 Crystal on macOS, and I just run rqt, but after it opens I cannot click the menu bar (never seen this before in other applications on my mac). If I wait a long time it still is not possible to clicking. However, if I change applications and then change back again I can access the menu bars 🙃.

Here's a gif:

![giphy](https://user-images.githubusercontent.com/10

[2018-12-14 00:53] dirk-thomas commented on #182
@brawner Can you please try to reproduce the problem? I can't reproduce it on Ubuntu.

[2018-12-14 01:27] brawner commented on #182
I'm rebuilding currently, I'll try to reproduce.

For reference, ``--list-plugins`` is passed through to qt_gui.
https://github.com/ros-visualization/qt_gui_core/blob/4b22f7a4a482565c94399c0f704b0612f61bec5a/qt_gui/src/qt_gui/main.py#L497

If it prints out a list though, then the segfault is happening on exit.
https://github.com/ros-visualization/rqt/blob/31af4cf6757a4485f07d94f030667f284fdff9e0/r

[2018-12-14 02:38] brawner commented on #182
I'm not able to reproduce the issue. Sometimes on Mac I run into segfaults on different versions of Python depending on when/where it was built. I'm using the version installed by homebrew.

I'm running 10.13.6. This is the header printed out when running ```python3```
[code]

[2018-12-14 03:57] wjwwood commented on #182
I don't have any reason to believe it has anything to do with the Python version, but instead it's likely due to differences in threading on the two OS's. Though the version of Python may be influencing that as well, I just don't think it's likely myself. Try running stress on your computer at the same time to shake up the scheduling.

The backtrace clearly shows it is failing in `Py_Exit`, so on

[2018-12-14 04:31] wjwwood commented on #165
Also, the buttons which are common to all "panels" (not sure that's the right terminology) are very small and as a result have terrible aliasing:

![screen shot 2018-12-13 at 8 30 09 pm](https://user-images.githubusercontent.com/100427/49983206-17e44780-ff16-11e8-9224-c05ba87e2ce8.png)

Definitely only a cosmetic thing though.

[2018-12-14 06:32] brawner commented on #182
I'll try the stress test, also I may need to make sure all of ros-visualization is built before I test as well. It sounds like it may be the rqt_gui_cpp nodelet_plugin_provider.

What plugins are actually installed on your machine? Do they match the list that's generated? ```rclcpp``` is currently only used by ```rqt_image_view``` and ```rqt_gui_cpp```. If removing those two packages from your ins

[2018-12-14 20:36] brawner commented on #165
@wjwwood Did you install the icons through homebrew?

[2018-12-14 21:24] wjwwood commented on #165
I do have it installed:

[code]

[2018-12-14 21:48] brawner commented on #182
I'm now reproducing the issue. For me, 'sometimes' is about 50% when using ```--force-discover```. Removing ```rqt_gui_cpp``` from install resolved the issue. @mlautman looks like this is a threading issue in rqt_gui_cpp, do you have any thoughts?

[2018-12-14 21:50] wjwwood commented on #182
@brawner I don't have cycles to look at it right now, but I can at some point.

[2018-12-14 21:53] brawner commented on #165
I created a new package [qt_gui_icons](https://github.com/ros-visualization/qt_gui_icons) that pulls in the scalable Tango icons. I created a PR in qt_gui_core to search for the icons (https://github.com/ros-visualization/qt_gui_core/pull/153).

That might give you nicer icons, but on a mac it requires building with the cmake flag -DINSTALL_QT_GUI_ICONS=TRUE

[2018-12-15 00:25] brawner commented on #183
I'm not having this issue. Does it occur if your terminal is not full screen, or rqt opens in the same space as terminal?

[2018-12-15 00:51] wjwwood commented on #183
No that doesn't make a difference. If I open it from a not full-screen terminal, then it still doesn't let me click the menu's right off the bat.

[2018-12-19 01:08] mlautman commented on #182
@wjwwood @brawner It looks like the default spin methods aren't threadsafe. I'm not sure if it is related to this issue, but rqt_gui_cpp definitely needs a similar fix to this: https://github.com/ros-visualization/rqt/pull/184. I've been looking into it but I'm at a loss for how we should implement a solution here. While it would be trivial to pass the class encapsulating the executor around and a

[2018-12-19 18:12] wjwwood commented on #182
In which client library?

Also, spin should not be called from multiple threads, it actually doesn't make sense. But I guess you mean not thread-safe with other activities? In `rclcpp` they should be. I can't say for `rclpy` off-hand, but I'd recommend coming up with a small example that exihibits the problem, then open an issue on `rclcpp`/`rclpy`, at which point we can say if it's a bug or an in

[2018-12-19 18:14] brawner commented on #182
@wjwwood Here is an example with rclpy. You can't destroy a subscription from a separate thread while a node is spinning.

https://github.com/ros-visualization/rqt/issues/181

Proposed PR that addresses the issue https://github.com/ros-visualization/rqt/pull/184

[2018-12-19 19:58] wjwwood commented on #182
Where is the example? I don't see one in either the issue #181 or the pr #184.

[2018-12-19 20:08] brawner commented on #182
This was an example illustrating this issue with rclpy. rqt_gui_py creates a single node that is shared among python plugins (and similarly rqt_gui_cpp for c++ plugins). If an rqt plugin wants to subscribe to topics, it creates the subscription in its own code and on shutdown destroys it. If ```node.destroy_subscription()``` is called while the node is in spin_once, it will crash.

[2018-12-19 20:11] wjwwood commented on #182
Sorry, I was looking for a trivial python script that exposes the issue. Without a trivial example, it's hard to rule out some other influence related to the architecture of `rqt`. (something like this: http://sscce.org/)

[2018-12-19 20:54] brawner commented on #182
@wjwwood follow up here https://github.com/ros2/rclpy/issues/255

[2018-12-20 00:29] mlautman commented on #182
RViz2 creates a wrapper around the node it passes into each of the plugins
https://github.com/ros2/rviz/blob/ros2/rviz_common/include/rviz_common/ros_integration/ros_node_abstraction.hpp

These plugins then lock the node before calling methods on the underlying node.
https://github.com/ros2/rviz/blob/0c7145448b4bd47a022fa8957d6c25bfcf07174a/rviz_default_plugins/src/rviz_default_plugins/displays/ca

[2018-12-20 21:25] wjwwood commented on #182
All of the spin like functions should be run mutually exclusively.
Spin like functions should be thread-safe in that it will fail if you call it from two different threads, e.g. `spin_once()` will fail if you call it concurrently: https://github.com/ros2/rclcpp/blob/eb2081bb25867da932a6c09b7729aced4f5f182e/rclcpp/src/rclcpp/executor.cpp#L237

The design of `rclcpp` means that "deleting" things lik

[2019-01-17 11:55] Myzhar opened #187 "[ROS2] QOS profile options and subscribing problem"
I'm testing RQT on ROS2 Crystal Clemmys and I noticed that I cannot subscribe image topics using the `rqt_image_view` plugin.

The problem is due to QOS settings since I'm not publishing the Image topics using the default values:
https://index.ros.org/doc/ros2/Concepts/About-Quality-of-Service-Settings/#qos-compatibilities

I think that each GUI plugin should provide a way to set the QoS setting t

[2019-02-08 18:06] remod commented on #131
Me and some of my co-workers are experiencing the same issue. As soon as a container is part of the perspective, any plugin undocked and dragged freezes before I am able to dock it again.

[2019-02-08 22:09] dirk-thomas commented on #131
@krixkrix @remod Please provide more information like platform, ROS distro, Qt version, which binding and version is being used etc.

[2019-02-10 00:58] mlautman commented on #131
I just reproduced the problem with the latest Kinetic Debian on a 16.04 machine

[2019-02-11 05:44] tobidelbruck commented on #132
I ran into same problem on virgin ubuntu 18.04 (but that had some tensorflow and nvidia driver stuff installed).  I finally solved it by first upgrading pip using the "python get-pip.py" method at https://pip.pypa.io/en/stable/installing/#upgrading-pip , and then using pip to install pyside2 with
 "sudo pip install pyside2".
You need to be outside any firewall for get-pip.py to run without knowing

[2019-02-11 08:10] remod commented on #131
I am using 16.04/kinetic as well, with default installations of Qt (4.8 and 5.5).

[2019-03-04 20:58] #154 closed, assigned to nobody

[2019-03-30 01:17] jacobperron opened #192 "[crystal-devel] rqt_py_common test failing"
Linux CI: [![Build Status](https://ci.ros2.org/buildStatus/icon?job=ci_linux&build=6566)](https://ci.ros2.org/job/ci_linux/6566/)

[code]

[2019-04-05 21:21] jacobperron commented on #192
@dirk-thomas I think this can be close?

[2019-04-05 21:38] dirk-thomas commented on #192
Interesting, the reference in the description of the merged PR should have done that automatically...

*Update:* nvm, since it targeted the `crystal-devel` branch instead of the default one it didn't.

Thanks for pointing it out - closing it manually.

[2019-04-05 21:38] #192 closed, assigned to dirk-thomas

[2019-05-15 13:11] bergercookie opened #195 "rqt on ROS2 - cannot export perspective - 'QtCore' is not defined"
I've launched rqt and I'm getting the following error when I'm trying to save the current layout to a perspective file:

[code]

P.S. I've opened a question on ROS answers about this but most probably this is a bug, so I'm also reporting here, in case you want to address it at some point (https://answers.ros.org/question/322656/rqt-on-ros2-cannot-export-perspective-qtcore-is-not-defined/)

[2019-05-15 20:16] dirk-thomas commented on #195
For the trivial case with no plugins open creating a new perspective works just fine. Please include enough information to reproduce the problem.

[2019-05-16 10:56] bergercookie commented on #195
Here's the percpective file I'm using:

[demo.perspective.txt](https://github.com/ros-visualization/rqt/files/3186722/demo.perspective.txt)

I'm working on Ubuntu 18.04 using the vanilla `crystal` distribution from ROS Debian repositories and have installed all `rqt-*` debian packages.

Let me know if you need any additional information and whether you can reproduce it.

[2019-05-21 14:08] remod commented on #131
For me, the issue persists on 18.04/melodic with Qt 5.9.5.

[2019-05-29 00:16] skucheria opened #197 "Malformed message_type rqt ROS2"
**- Operating System:**
Ubuntu 18.04
**- Installation type:**
from source
**- DDS implementation:**
RTI Connext
**- Client library (if applicable):**
rqt

Receiving "malformed message_type" error on message types in rqt when attempting to use rqt_plot or topic monitor.
Ex:

[code]

[2019-05-29 00:28] Karsten1987 opened #198 "[ROS2] Traceback when closing/exiting"
When using `rqt_publisher` under dashing, I get a traceback when closing the application on OSX. This might be related to breaking changes in dashing related to passing the context object to `rcl_init()`.
See here: https://github.com/ros2/rcl/blob/master/rcl/include/rcl/init.h#L82 and the related PR: https://github.com/ros2/rcl/pull/336

[code]

[2019-05-29 17:28] dirk-thomas commented on #198
Does this only happen on macOS? Can you please try it on Ubuntu too. I can't reproduce the problem by just starting it with `ros2 run rqt_publisher rqt_publisher` and closing it through the [X] button.

[2019-05-29 17:38] dirk-thomas commented on #197
This should be resolved on the latest HEAD on the `crystal-devel` branch. Please try it again to confirm that it is fixed for you.

[2019-05-29 17:38] Karsten1987 commented on #198
I currently don't have access to a graphical Ubuntu.
It could definitely just be a OSX problem - yet I can reproduce it in 100% of the cases.

[2019-05-29 22:48] Karsten1987 commented on #198
So I've tried it on a 18.04 docker instance and see the same error message when closing the app.

[2019-05-29 23:23] dirk-thomas commented on #198
Similar to ros2/demos#316.

[2019-05-29 23:26] dirk-thomas commented on #197
I will go ahead and close this assuming the problem has already been resolved. Please feel free to comment on the closed ticket and if necessary it can be reopened.

[2019-05-29 23:26] #197 closed, assigned to nobody

[2019-05-30 20:58] pdalloz commented on #183
This happens when PyQt apps are called from python.exe rather than pythonw.exe
python.exe is for running command line scripts, and pythonw.exe is for running GUIs

Use pythonw.exe

[2019-06-10 17:58] dirk-thomas commented on #195
Fixed by ros-visualization/qt_gui_core#178.

[2019-06-10 17:58] #195 closed, assigned to nobody

[2019-06-17 12:27] windelbouwman commented on #165
I can confirm this issue on Windows 10. I installed the dashing diademata via the zip file method. Most icons are not visible in rqt.

[2019-06-17 14:08] windelbouwman opened #201 "rqt source fragmentation"
I searched through the rqt sourcecode, and the code is pretty fragmented across packages. This is my opinion, but I would suggest to re-organize the sourcecode into less packages which are somewhat larger.

This has the following benefits:
- less packaging script overhead
- code is easier to navigate
- less configuration management
- Easy change in multiple software components (which were before i

[2019-06-24 13:19] 1gen100 opened #202 "Runing rqt funciton given error message but sems to work???"
Hi guys,
I have this problem, every time a run my code with rqt_gui I get this ERROR???
But the rqt interface seems to work?

RecursivePluginProvider.discover() loading plugin "qt_gui_cpp/CppPluginProvider" failed:
Traceback (most recent call last):
  File "/opt/ros/kinetic/lib/python2.7/dist-packages/qt_gui/recursive_plugin_provider.py", line 57, in discover
    instance = self._plugin_provider.l

[2019-07-09 18:28] harel55 opened #204 "Ubuntu 14.04, ROS Indigo: Failure to start RViz plugin, "Method "start_plugin" ... doesn't exist""
Attempting to run `rqt --command-start-plugin rqt_rviz` results in the terminal output

[code]

despite the fact that RViz appears in the output of `rqt --list-plugins`. I was unable to find any information on the particular exception this caused.

[2019-07-12 09:36] ftsell opened #205 "${SHIBOKEN_BINARY} not set when building from source"
When building the package `qt_gui_cpp` from source I get the error:

[code]

I believe this comes from the variable `${SHIBOKEN_BINARY}` being used in `python_qt_binding/cmake/shiboken_helper.cmake:49` but not set anywhere.

My system is:
- OS: archlinux
- Install-method: source
- VCS: on branch `crystal-devel`

[2019-07-16 15:57] edgar-explorer commented on #121
Have you solved it?

[2019-07-24 00:36] dirk-thomas commented on #204
ROS Indigo has been EOL-ed already (see https://discourse.ros.org/t/confusion-about-eol-for-indigo/9065/2).

Please try to reproduce the problem with an active ROS distribution (currently Kinetic and Melodic) and comment again.

[2019-07-26 22:49] dirk-thomas commented on #201
The separation of the source code across multiple packages and a repositories is intentional:

* [python_qt_binding](https://github.com/ros-visualization/python_qt_binding) contains the Python binding abstraction which enables to use `rqt` with `PyQt` as well as `PySide`
* [qt_gui_core](https://github.com/ros-visualization/qt_gui_core) contains the ROS agnostic parts of the GUI as well as a ROS ag

[2019-07-26 22:49] #201 closed, assigned to nobody

[2019-07-29 21:52] dirk-thomas commented on #202
Please provide the exact steps to reproduce as well as information about the used platform, versions and environment.

I will close the ticket for now. It can be reopened once the additional information has been added.

[2019-07-29 21:52] #202 closed, assigned to nobody

[2019-07-29 22:04] dirk-thomas commented on #135
Closing due to no responses.

[2019-07-29 22:04] #135 closed, assigned to nobody

[2019-07-29 22:05] dirk-thomas commented on #181
This has been resolved with ros2/rclpy#318.

[2019-07-29 22:05] #181 closed, assigned to nobody

[2019-07-29 22:05] dirk-thomas commented on #182
Assuming this has been resolved by ros2/rclpy#318 I am closing the ticket.

[2019-07-29 22:05] #182 closed, assigned to nobody

[2019-07-29 22:07] dirk-thomas commented on #204
I am closing this ticket for now due to missing information. Please feel free to comment on the closed ticket with the requested information.

[2019-07-29 22:07] #204 closed, assigned to nobody

[2019-08-19 17:27] hdino opened #207 "[ROS2] Traceback/exception when closing/exiting (Qt DockWidget)"
I've installed dashing on a fresh Ubuntu 18.04 and encounter the following errors when closing rqt (no matter if it's closed using the menu, Ctrl+C or the window's X):

[code]

or

[code]

or

[code]

or (Ctrl+C)

[code]

[2019-08-19 20:07] Karsten1987 commented on #207
I think that's related to https://github.com/ros-visualization/rqt/issues/198

[2019-09-05 00:52] colindnz opened #208 "access ros via web using ros_gui"
I do my development in a sandbox using win7,
can I access ROS on Ubuntu 18.04 SERVER
thru web using ros_gui from win7?
Have searched but no answers / how-to yet.
ROS newbie...
TiA

[2019-09-05 01:09] dirk-thomas commented on #208
I am not sure if you have seen the [ROS support guidelines](http://wiki.ros.org/Support) but we kindly ask to raise questions like this on [answers.ros.org](http://answers.ros.org/) instead.

The rational for asking all kind of questions in a single place is:
* There are many more people reading questions there so your chances on getting an answer and in a timely manner are much higher.
* In the f

[2019-09-05 01:09] #208 closed, assigned to nobody

[2019-10-03 01:21] maryaB-osr opened #209 "[ROS2] Nodes only graph missing arrows"
There are no arrows between the nodes when the graph is set to "Nodes only".

It seems like there should be, since [this tutorial for ROS 1](http://wiki.ros.org/ROS/Tutorials/UnderstandingTopics) shows arrows connecting the nodes in screenshots of rqt_graph where you can see the graph is set to "Nodes only"

(Fixing this bug will help make the tutorials less confusing)

[2019-10-28 01:30] routiful opened #210 "[ROS2] Can't run rqt"
I've installed ROS2 dashing lastest patch(source build) succesfully in Ubuntu 18.04. But I can't run `rqt`.
I've already used to it since last patch but also It was run when I installed it by debian packages.

I've attached error messages when I type `rqt` in terminal
[code]

[2019-10-28 06:49] routiful commented on #210
We've solved that error to use `colcon build` not include `--symlink-install` agruments.

[2019-10-28 06:49] #210 closed, assigned to nobody

[2019-10-30 10:14] pptaszni opened #211 "Sipconfig unsupported in sip5 - need to change FindSIP.py"
As mentioned [here](https://github.com/ros-visualization/python_qt_binding/pull/64) and in other places sip5 does have sipconfig.py anymore and unfortunately sip5 is already a default version in PyPi repository. Consequently, `FindSIP.py` script used in ros packages will fail, unless you install from source previous sip version (but that raises number of different issues).

[2019-10-31 00:55] dirk-thomas commented on #211
Please consider to contribute a pull request adding support for the new sip version.

[2019-12-18 21:03] rjcortese opened #212 "ValueError: PyCapsule_GetPointer called with incorrect name"
<img width="1757" alt="Screen Shot 2019-12-18 at 2 00 14 PM" src="https://user-images.githubusercontent.com/2792758/71122847-bac14880-219e-11ea-8b7d-2e9645c967f6.png">

Hello,
Has anyone seen this error before?
I'm running macOS 10.15.2 and followed the install and environment setup instructions from https://index.ros.org/doc/ros2/Installation/Eloquent/OSX-Install-Binary/
Any thoughts on how to fi

[2019-12-28 05:49] icameling commented on #121
Hi

In addition to [ethzasl_ptam](http://wiki.ros.org/ethzasl_ptam ), what other open sources can be used to calibrate the camera with ATAN model?

[2020-01-02 20:44] dirk-thomas commented on #212
Please do not post pictures of error messages. They are not text-searchable. Copy-n-paste the error message instead as plain text.

Do you have the exact same versions of Python, Qt, etc. installed? if they are different from the versions used by the computer which built the archive it could fail like this. You might want to try a from source build instead.

---

Also I am not sure if you have see

[2020-01-02 20:44] #212 closed, assigned to nobody

[2020-01-12 01:13] pauljurczak opened #213 "Inconsistent ordering of sensor_msgs/PointField"
Components of sensor_msgs/PointField are displayed in inconsistent order:

![Screenshot from 2020-01-11 17-50-13](https://user-images.githubusercontent.com/4933032/72212696-ef72a800-349d-11ea-8a88-0bb6171c7a6a.png)

[2020-01-12 17:54] dirk-thomas commented on #213
Please provide exact steps how to reproduce the problem.

[2020-01-12 22:46] pauljurczak commented on #213
The steps are fairly complex, unfortunately. Follow the steps from tutorial at: https://bitbucket.org/osrf/subt/wiki/tutorials/SystemSetupInstall up to the last command in step #5. Replace it with `ign launch -v 4 urban_circuit.ign worldName:=urban_qual robotName1:=X1 robotConfig1:=COSTAR_HUSKY_SENSOR_CONFIG_1`

It may be easier to achieve the same result by using Docker: https://bitbucket.org/osr

[2020-01-12 23:57] dirk-thomas commented on #213
Can you please also show the output your get  from `rostopic echo /X1/points` (in the case where the UI shows inconsistent order).

[2020-01-13 00:56] pauljurczak commented on #213
`rostopic echo /X1/points/fields` produces correctly ordered listing:
[code]
BTW, `rqt` completely chokes on `sensor_msgs/PointCloud2` display. I have 6-core modern Intel CPU and the core `rqt` runs on goes to 100% utilization at 4.7GHz. User interface becomes unresponsive and takes about 30s to refresh when `/X1/points` is selected. I'm running Ubuntu 18.04.3 and ROS Melodic.

[2020-02-05 15:33] acbuynak commented on #7
I am having this issue as well and have been unable to resolve it. I am not getting a segmentation fault and have been able to duplicate the issue on a different computer with the same setup.

Setup:
  Ubuntu Bionic 18.04.4 LTS
  ROS1 Melodic / ROS2 Dashing
  ...Used [ROS Industrial Shell Script ](https://github.com/ros-industrial/industrial_training/blob/melodic/gh_pages/_downloads/ros-industrial

[2020-02-27 07:22] mmatthe opened #217 "Node Graph Crashing when non-ROS2 DDS Traffic is on the network"
With latest ROS2 eloquent packages on Ubuntu 18.04

[code]

The rqt node graph crashes when unrelated DDS traffic is running on the same domain.

## How to reproduce:

[code]

[code]

[code]

[code]

Even though it's clear that rqt cannot show the extra raw DDS publisher, it should still show the existing ROS Nodes.

[2020-02-27 13:42] maity-kgz opened #218 "[ROS2] After closing rqt with ctrl+c, cant start rqt again"
Steps to reproduce the problem:
1. launch rqt in a console
2. from GUI of rqt select Plugins-Visualization-TF Tree (only this plugin causes this issue, so far)
3. immediately you start getting a message in a console "service not available, waiting again..."
4. close rqt with ctrl+c (closing with GUI x-button does not cause this issue)
5. you get traceback with errors.
6. try to start rqt again

Af

[2020-03-02 18:51] dirk-thomas commented on #217
Please consider to contribute a pull request to make the plugin for resilient against this exception.

[2020-03-09 22:46] sloretz opened #220 "Release to Noetic?"
It looks like all packages depended on by this repo have been released into ROS Noetic. Mind making a Noetic release?

I'm not sure how much work is to be done. I didn't see any Python 3 syntax errors. It will need #219.

[2020-03-10 22:44] dirk-thomas commented on #220
Done: ros/rosdistro#24029.

[2020-03-10 22:44] #220 closed, assigned to nobody

[2020-03-20 21:10] mcevoyandy opened #221 "Error trying to plot multi array in ros2"
When I try to plot a Float64 multi array I get the following error:

[code]

I'm using dashing and trying to add the values as `topic/data[0]`

the echo of the topic is:

[code]

[2020-03-26 02:44] JessieTang2018 opened #222 "rqt_plot Aborted in Ubuntu18.04"
I was following the tutorial:http://wiki.ros.org/ROS/Tutorials/UnderstandingTopics
But when I run:
  rosrun rqt_plot rqt_plot
I got errors :
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/matplotlib/backends/backend_qt5agg.py", line 77, in paintEvent
    self.resizeEvent(event)
  File "/opt/ros/melodic/lib/python2.7/dist-packages/rqt_plot/data_plot/mat_data_plot.py", l

[2020-03-26 05:45] dirk-thomas commented on #222
Duplicate of ros-visualization/rqt_plot#50.

[2020-03-26 05:45] #222 closed, assigned to nobody

[2020-04-20 15:46] stevensgeek41 commented on #114
I have the same issue, my qt version somehow ends up with qt5.11, I don't know how to reinstall it to qt5.5

[2020-04-20 15:55] dirk-thomas commented on #114
@stevensgeek41 Ubuntu Xenial ships with Qt 5.5 and that the version the Debian packages of ROS Kinetic are built against. Using a different Qt version at runtime is not going to work since different Qt minor versions are not ABI compatible.

[2020-04-21 01:42] stevensgeek41 commented on #114
Thanks for replying. I see. I think it's because I'm using KDE neon desktop. After I force to downgrade libqt5core5a, the KDE neon will not work. I end up in the recovery mode and reinstall the desktop. Anyway, for now I can tolerate the abscence of rqt.

[2020-05-20 14:03] anaelle-sw commented on #187
Hi, I encounter the same kind of problem here.

System:
ROS2 Foxy, and running the demo world from gazebo_ros_pkgs ` gazebo_ros_ray_sensor_demo.world `.
(I have also noticed the same issue showing up on Eloquent and Dashing, either with this demo world or with custom sensors.)

Description:
The topics for sensors' feedback (laserscan, range, etc) are available on rqt, and I can suscribe to them vi

[2020-05-27 16:21] doisyg opened #226 "[noetic] Cannot launch rqt_reconfigure standalone"
Loading the plugin from rqt works, however, starting the tool directly with `rosrun rqt_reconfigure rqt_reconfigure ` crashes:

[2020-05-27 17:51] cottsay commented on #226
You should be able to work around this issue by ensuring that the Python 3 module `rospkg` is installed.

[2020-05-28 08:38] doisyg commented on #226
Solved it by using python alternative and be sure that `$ python -V` outputs `Python 3.8.2`

[2020-05-29 17:30] ahcorde commented on #165
This issue is still open for Foxy. Proposed solution

 - On windows
    - Add https://github.com/ros-visualization/qt_gui_icons to ros2.repos to fix the icons
    - Add the logic to load the icons when there is no theme available
 - On Mac there are two options:
   - As discussed [here](https://github.com/ros-visualization/rqt/issues/165#issuecomment-447483546). There is a formula to install icons

[2020-05-29 17:37] wjwwood commented on #165
Having it install better ones on macOS too is fine by me. Or we could try to update the Homebrew formula, I actually don't mind which.

[2020-06-11 19:15] #226 closed, assigned to cottsay

[2020-06-11 19:49] dirk-thomas commented on #211
I am going to close this ticket for now due to no activity. Please feel free to contribute a pull request for this use case.

[2020-06-11 19:49] #211 closed, assigned to nobody

[2020-06-12 16:43] dirk-thomas commented on #207
The first error:

seems to be a problem outside of `rqt`. I tried to reproduce the problem on Foxy but the error doesn't show up. Can you check if the problem is still happening for you in the latest distro Foxy.

---

The second error:

has been resolved by ros-visualization/qt_gui_core#213. I just made releases with this fix for Dashing and Eloquent.

[2020-06-12 16:44] dirk-thomas commented on #198
@Karsten1987 This seems to be a problem outside of `rqt`, I tried to reproduce the problem on Foxy but the error doesn't show up. Can you check if the problem is still happening for you in the latest distro Foxy.

[2020-06-12 17:34] dirk-thomas commented on #207
Since the first issue is tracked in #198 I will close this as a duplicate.

[2020-06-12 17:34] #207 closed, assigned to nobody

[2020-06-12 17:37] dirk-thomas commented on #120
Closing due to inactivity. Please feel free to contribute a pull request with this feature idea.

[2020-06-12 17:37] #120 closed, assigned to nobody

[2020-06-12 17:37] dirk-thomas commented on #119
Closing due to inactivity. Please feel free to contribute a pull request with this feature idea.

[2020-06-12 17:39] dirk-thomas commented on #44
Closing since this option doesn't exist for quite a while: see https://github.com/ros-visualization/rqt/issues/127#issuecomment-378017659

[2020-06-12 17:39] #44 closed, assigned to nobody

[2020-06-13 05:57] hdino commented on #198
@dirk-thomas For me both this issue and #207 no longer show up on Foxy (Ubuntu 20.04).

[2020-06-13 06:12] #198 closed, assigned to nobody

[2020-06-13 06:13] dirk-thomas commented on #198
@hdino Thanks for checking it. I will go ahead and close the ticket then.

[2020-06-23 23:34] azeey opened #230 "LookupError when running rqt_py_common tests in Windows"
Possibly a regression of #228 based on the timing of the regression.

Failing build: https://ci.ros2.org/view/nightly/job/nightly_win_rel/1580/testReport/(root)/projectroot/rqt_py_common/

Ouptut:
[code]

[2020-06-24 22:18] dirk-thomas commented on #230
Should be fixed by ros2/launch#432.

[2020-06-25 17:21] #230 closed, assigned to dirk-thomas

[2020-07-14 16:51] jacobperron opened #232 "Must build with --symlink-install"
I noticed that when building `rqt` (or any of its plugins) from source, that we must use the colcon build option `--symlink-install`. If we don't use this option or use `--merge-install`, then attempting to run `rqt` results in a Python exception that looks like the following:

[code]

To reproduce:

[code]

In another shell:

[code]

This was previously reported in https://github.com/ros-visualiz

[2020-07-14 22:36] jacobperron commented on #232
Upgrading to setuptools 49.2.0 seems to have resolved the issue for me.

[2020-07-14 22:36] #232 closed, assigned to nobody

[2020-07-25 00:14] good0613 commented on #187
Hi, I also have same issue.
System:
- ROS2 foxy and with gazebo camera demo world;

Add topic `/demo_cam/camera1/image_raw` to `rviz2` --> no image is displayed.

Description:
- topic is being published with following command;

As @anaelle-sw mentioned, it's same on `gazebo_ros_ray_sensor_demo.world`; No scan data on `rviz2`...

Thanks.

[2020-08-21 07:55] Hello970 commented on #165
Hi, I met the same problem and tried the method proposed above. However, the problem still has not been solved. If possible, would you mind giving a specific introduction about how to use the above package (https://github.com/ros-visualization/tango_icons_vendor) solving the problem of icons? Thank you very much. @ahcorde

[2020-08-24 07:43] LouisChen1905 commented on #187
Any idea on how to fix it? @dirk-thomas

[2020-08-26 21:28] dirk-thomas commented on #187
Imo the options are:

* introspecte the graph and use the QoS matching existing endpoints or
* a configuration option to choose the QoS setting per plugin (if a plugin uses multiple topics potentially for each topic separately)

[2020-09-23 20:11] dirk-thomas commented on #165
With ros-visualization/qt_gui_core#222 released the problem should be solved. Assuming that is the case I will go ahead and close this ticket.

If the problem persists please check that you are using the latest version, share enough context about the platform and the versions of involved packages you use and the ticket can be reopened if needed.

[2020-09-23 20:11] #165 closed, assigned to brawner

[2020-11-19 01:42] rowandempster opened #235 "Python3 Syntax issue?"
When I run `rqt --command-start-plugin rqt_plot.plot.Plot` on ROS Noetic I'm getting
[code]
Googled and looks like the problem is `dict.keys()` isn't indexable in python3. https://stackoverflow.com/questions/26394748/nltk-python-error-typeerror-dict-keys-object-is-not-subscriptable

[2020-11-19 01:45] rowandempster commented on #235
@sloretz @dirk-thomas Related to the Noetic release maybe? https://github.com/ros-visualization/rqt/issues/220

[2020-11-24 06:41] dirk-thomas commented on #235
@rowandempster Neither of the two mentioned people are maintainers of this repository (anymore). @mjeronimo FYI.

[2020-11-25 23:16] mjeronimo commented on #235
@rowandempster Thanks for reporting. I've reproduced and will submit a fix.

[2020-11-26 12:06] dyle71 opened #238 "rqt noetic fails to start in *K*ubuntu 20.04.1"
Just tried to run rqt, but if fails:

[code]

This is a *Kubuntu 20.04.1* (hence the 'K').

[code]
Running the very same rqt inside a *Ubuntu 20.04.1* works.

I then omitted QWebKitWidgets, which IIRC has been removed from Qt.

[code]

This now launches a GUI and I get a dialog, which is empty. But a look at the command line does not make you feel comfy:

[code]

and any further click on a menu it

[2020-11-26 12:47] dyle71 commented on #238
Hm, nope. Ubuntu 20.04.1 ships the very same libQt5core version.

[code]
This is not the cause of the trouble.

Meehhh, ... o.O

[2020-12-15 14:13] sven-herrmann opened #240 "rqt can no longer find any plugins"
Since Python 3.9 the previously deprecated function getiterator on ElementTree has been removed.
Thus rqt is no longer able to find any plugins.
The output of rqt is:
[code]

[2020-12-17 07:36] aboutmei commented on #7
ubuntu18.04
conda 环境 python2.7
ros melodic
  File "/opt/ros/melodic/lib/python2.7/dist-packages/qt_gui_cpp/cpp_binding_helper.py", line 39, in <module>
    from . import libqt_gui_cpp_shiboken
ImportError: cannot import name libqt_gui_cpp_shiboken
实在不知道怎么解决了

[2020-12-20 09:26] cubercsl commented on #240
Meet same issue too. Just change `getiterator` to `iter` may fix this.

Also affacted https://github.com/ros-noetic-arch/ros-noetic-rqt/issues/1

[2021-01-09 05:03] hoser21 commented on #240
This fixes the issue for me.

[2021-01-15 05:44] JeongHyunLee7909 opened #242 "How to make rqt custom plugins using ROS2 eloquent?"
Hello. I'm working on making custom plugins for my robot controller GUI.

Actually, I think there are some problems working with ROS2.

In the tutorial http://wiki.ros.org/rqt/Tutorials/Create%20your%20new%20rqt%20plugin#Install_.26_Run_your_plugin ,
they use 'catkin_make' but ros2 doesn't support that build method.

So I'm trying to modify it using 'colcon build'

I succeded to add my plugin on r

[2021-01-23 22:40] julled commented on #238
Same problem here, running noetic in ubuntu 20.04 dockerized environment.

[2021-02-02 21:47] jacobperron commented on #187
FWIW, as of ROS Galactic, there exists a feature to enable configuration QoS with ROS parameters:
https://index.ros.org/doc/ros2/Releases/Release-Galactic-Geochelone/#externally-configure-qos-at-start-up

I suggest we enable this feature for rqt plugins.

[2021-02-09 13:42] George-Gi opened #244 "ROS2: Publish an array with rqt"
Hi everyone, I have been using rqt to publish messages to test my applications, however I still haven't found a way to publish a message that includes an array.
In my custom message I have a variable size array declared as uint8[]. I notice in rqt that the expected type is "sequence<uint8>".
I have tried different expressions, but couldn't figure out the correct one. Could someone provide an examp

[2021-03-13 20:05] RyanDelGizzi commented on #244
Hi @giwrgosg,

I created the original question on [ROS Answers](https://answers.ros.org/question/370355/publishing-arrays-with-rqt_publisher-in-ros2/) and set out to resolve the issue. Same issue [here](https://github.com/ros-visualization/rqt_publisher/issues/23) for rqt_publisher.

One problem is how [get_slot_types](https://github.com/ros-visualization/rqt/blob/d06bacf1b5d7c356189a5f35e3dc0e20b

[2021-03-21 16:01] timonegk commented on #238
I experienced the same problem in combination with PyKDL which is imported in tf2_geometry_msgs. I reported the bug on the [PyQt mailing list](http://python.6.x6.nabble.com/PyKDL-fails-to-import-after-PyQt5-QtCore-td5288940.html). They pointed out that the problem is that PyKDL is a SIP v4 package and PyQt uses a newer SIP version. The current [master of PyKDL](https://github.com/orocos/orocos_kin

[2021-03-30 10:23] 808brick commented on #187
Just as an FYI if people are confused, when they are talking about changing the QoS policies in RViz, they mean through the options in the side panel here:

![image](https://user-images.githubusercontent.com/10749928/112974428-28705a00-90ee-11eb-85b3-3787bc8c781a.png)

[2021-03-30 22:07] 808brick commented on #187
I know Quality of Service can be confusing to some people, so in case you run into an issue of not being able to have your nodes subscribe to Gazebo plugin publishers, you can use the `ros2 topic info /topic_name --verbose` command to view the QoS  configuration of the Publishers and Subscribers of that topic.

To configure QoS properly in Python, for example in a subscriber, you can use the follo

[2021-04-12 18:42] clalancette opened #249 "ROS 2 Rolling/Galactic: Can't see labels/icons on many (but not all) buttons"
While doing testing for the upcoming Galactic release, I noticed that many of the buttons in RQt on my test platforms were empty.  For instance, running `rqt`, and then adding in the `Plugins->Logging->Bag` plugin shows a group of buttons across the top.  But there are no labels or icons on any of them.  They do all have a tooltip, so it is somewhat possible to figure out what they are for, but so

[2021-04-12 21:47] Aposhian commented on #165
I am getting this same issue, but with docker.

Host OS: Ubuntu 18.04 LTS
RQT Version: 1.07

Dockerfile
[code]

Command
[code]

Result:
![image](https://user-images.githubusercontent.com/16969110/114466879-476af380-9ba6-11eb-8a9f-ee5f3dd0de94.png)

[2021-04-13 12:38] clalancette commented on #165
#249 is tracking this issue for Galactic; once we find the problem, we may be able to backport it to Foxy.

[2021-04-14 23:51] sloretz commented on #249
Examples of missing icons

https://github.com/ros-visualization/rqt_graph/issues/63
https://github.com/ros-visualization/rqt_service_caller/issues/19

[2021-04-30 17:39] clalancette commented on #249
Fixed by ros-visualization/qt_gui_core#250

[2021-04-30 17:39] #249 closed, assigned to nobody

[2021-05-15 02:00] ijnek commented on #244
Hi @RyanDelGizzi
:+1:  to your suggested fix, this would be quite desirable. Considering #224 hasn't had any updates in a while, it would be great if you could consider putting a PR up with your changes!
Thanks!

[2021-06-14 02:56] mzdz opened #252 "rqt: command not found."
os version:
     macOS Big Sur (11.04)

I follow this guide:
    https://docs.ros.org/en/galactic/Installation/macOS-Development-Setup.html

example:
   `ros2 run demo_nodes_cpp talker`
   `ros2 run demo_nodes_py listener`
   `ros2 run turtlesim turtlesim_node`
   `ros2 run turtlesim turtle_teleop_key`
all examples  are work, but run
  ` rqt`
return:
   `zsh: command not found: rqt`

my .zshrc fil

[2021-06-14 03:04] mzdz commented on #252
i try compiled rqt separately:
     follow this[ link](https://docs.ros.org/en/galactic/Guides/RQt-Source-Install-MacOS.html?highlight=rqt) and this [link](https://docs.ros.org/en/galactic/Guides/RQt-Source-Install.html) but i run this command:
     `rosdep install --from-paths src --ignore-src --rosdistro galactic -y --skip-keys "console_bridge fastcdr fastrtps libopensplice67 rti-connext-dds-5.3

[2021-06-19 22:24] flu0r1ne opened #253 "[ROS2] rqt: CompositePluginProvider.discover() could not discover plugins"
I'm on `5.12.10-arch1-1` archlinux and receive the following error when I try to start `rqt`:

[code]

If I use `rqt_graph` I get a `qt_gui_main() found no plugin matching "rqt_graph.ros_graph.RosGraph"
try passing the option "--force-discover"`.

Any recommendations? Forcing discovery did not fix the issue.

[2021-06-23 12:46] clalancette commented on #253
It's not clear how this installation was done on Arch.  That would be good information to provide.

However, Arch is not one of our supported platforms.  So I'll suggest that you open up a question on https://answers.ros.org; you may be able to get the attention of people who use Arch and get some better answers.

I'm going to close this one out.

[2021-06-23 12:46] #253 closed, assigned to nobody

[2021-07-09 12:10] iormaoro commented on #252
Same problem here.
I can't find a way to install rqt separately.

[2021-07-09 12:37] clalancette commented on #252
You'll notice that the installation instructions specifically have:
[code]

And a note:
[code]

The end result of that is that no `rqt` packages are currently compiled on macOS.  Since macOS isn't officially supported in Galactic, the ROS 2 core team won't spend any time on this in the near future.  That said, if you'd like to contribute to https://github.com/ros-visualization/python_qt_binding/is

[2021-07-09 13:08] iormaoro commented on #252
Thanks for that @clalancette . I went and procede with what's suggested in [this comment](https://github.com/ros-visualization/python_qt_binding/issues/103#issuecomment-829247901).
I removed qt_gui_cpp and rqt_gui_cpp in ros-visualization and it went through, I'm now able to play with rqt and procede with the tutorials... it will come back at some point though probably, I will have an eye on the t

[2021-07-14 17:59] alsora opened #255 "ROS 2: rqt plot not working if any message class can't be loaded"
Hi, I'm running `rqt` with ROS 2 Foxy, installed on Ubuntu 20.04 machine.

If I open rqt-plot, I get the following logs
[code]

I also have many other topics in the system for which there are no errors/warnings.
The presence of the aforementioned logs prevents me from visualizing anything with rqt plot (even the "good topics").
The only way I have for visualizing something is to first stop all the

[2021-07-14 18:48] clalancette commented on #255
I think this is just a red herring.  That message is coming from https://github.com/ros-visualization/rqt/blob/c5f2d8082c3ac2ff14a358c10e386cf2056a38f0/rqt_py_common/src/rqt_py_common/message_helpers.py#L235 , where it is clearly expecting a "message", not an "action".  It's not that the action is malformed, it is that the code is currently expecting that to be a message type, but it is instead an

[2021-07-27 07:58] sven-herrmann commented on #240
Was merged in #241 closing

[2021-07-27 07:58] #240 closed, assigned to nobody

[2021-07-30 11:04] alsora commented on #255
That makes sense.
However, that's only part of the problem.

I have removed all action servers from my system and indeed now I don't see that "malformed message error".
However, I still can't use rqt and my guess is that this is due to the presence of the following log
[code]

The machine that is running rqt does not have access to the IDL definition of TestMsg (this is on purpose), but this preve

[2021-10-05 16:57] charles-maheu commented on #86
In case someone else finds this issue while looking for a graph tool specific to launch files, I've updated and improved a bit the script. I've also added nodes that are started by launch files in gray to better visualise complicated projects.
Here's the script :
[launch_include_graph.sh](https://github.com/ros-visualization/rqt/files/7287683/launch_include_graph.txt)

Here's an example of the res

[2021-10-29 04:47] Hrithik-verma opened #256 "rqt_gui issue"
When I try running "rosrun rqt_gui rqt_gui" in my terminal, I got a error :

[code]

ROS Version- Melodic
I have also tried "sudo apt-get install ros-melodic-rqt" its showing that I have latest version than why is there a issue .
Please help!!!

[2021-11-15 20:11] HighPriest commented on #242
RQT, ROS and Gazebo all suffer from mediocre documentation.
The best thing you can do is scout through the repositories and use the latest example packages as... examples.
For making a plugin package, best place would be to look into here:
https://github.com/ros-visualization/rqt_msg/tree/foxy-devel

[2021-12-12 23:16] FPSychotic commented on #256
similar error with rqt in foxy , but it change a little to line 11, the pkg is broken via apt

[2021-12-13 18:17] FPSychotic opened #257 "rqt is broken via apt or source"
if I install rqt foxy via apt it is broken.
if I install it via source give a error when execute starting by
`rqt  line 11, in <module>load_entry_point('rqt-gui==1.1.2`

it was workinf 2 weeks ago with no problem

[2021-12-13 18:21] clalancette commented on #257
Can you give additional details on the platform that you are on, the version of rqt that you have installed, and the error message that you are getting?  It seems to work OK for me here, with version 1.1.2-1focal.20211112.192306

[2021-12-13 21:23] FPSychotic commented on #257
@clalancette
sorry by the lack of details. it happens with rqt, rqt_graph at least, in noetic and foxy both in 20.04. it was workimg. found a similar error related with qt5 , not sure.
`mother@imother:~$ rqt
Traceback (most recent call last):
  File "/opt/ros/noetic/bin/rqt", line 13, in <module>
    sys.exit(main.main())
  File "/opt/ros/noetic/lib/python3/dist-packages/rqt_gui/main.py", line 61,

[2021-12-13 22:07] clalancette commented on #257
So is the problem you are having with Foxy or Noetic?  The original comment said Foxy, but the above shows a backtrace from Noetic.

[2021-12-13 22:15] FPSychotic commented on #257
I have installed  both, and happens in both.In this case I had sourced
noetic, but if I source ros2 foxy same issue, first noted it in Foxy, were
it was working.

On Mon, 13 Dec 2021, 22:07 Chris Lalancette, ***@***.***>
wrote:

[2021-12-13 22:29] clalancette commented on #257
I'm not seeing it with Foxy.  Are you happening to source *both* Foxy and Noetic at the same time?  That could potentially cause issues.

[2021-12-14 20:08] FPSychotic commented on #257
Yes, I had both sourced, but later I sourced them individually, and same error. Now I have uninstalled foxy, and the error persist

[2021-12-14 21:01] FPSychotic commented on #257
solved with this
pip3 uninstall PyQt5-sip
pip3 install PyQt5
https://answers.ros.org/question/371691/valueerror-pycapsule_getpointer-called-with-incorrect-name/

thank you so much by be so supportive and fast. thanks by share and maintain this code, people like me still would be in the stone era without people like you, sharing knowledge and work.

[2021-12-14 21:01] #257 closed, assigned to nobody

[2021-12-26 13:40] andreasBihlmaier commented on #187
This issue still persists today, e.g. with galactic.

When trying to use the most straightforward combination of a Gazebo camera plugin (libgazebo_ros_camera.so) and rqt image view, one will not see the camera images, rather one will get the following message from rqt:
[code]

I'd consider that there is something broken in the ROS2 ecosystem, if this simple use case doesn't work.
The same goes for

[2021-12-30 14:44] LoyVanBeek commented on #257
For me, it worked to both
[code]
:man_shrugging:

[2022-01-01 16:52] attr0 commented on #165
I find an interesting answer in Linux and Mac -- an undefined or unexpected behaviour caused by security policies in the desktop environment. If we login a DE as user A and launch a qt-based program in user B by su/sudo/others, some external assets, like icons, cannot be properly loaded. This could explain situations within docker and other similar problems I met.

[2022-01-28 22:32] karl-schulz commented on #187
Would it be an option to set the default QoS for subscribers in rqt_image_view to BEST_EFFORT? Most image data is published via BEST_EFFORT anyways, and messages with RELIABLE will still be shown (it's compatible in that direction).

Obviously, having an option like in RVIZ would be ideal, but probably also more work.

[2022-02-09 20:50] goekce commented on #187
Updated link: https://docs.ros.org/en/foxy/Releases/Release-Galactic-Geochelone.html#externally-configure-qos-at-start-up

I had thought that this feature can be used to change the QoS of every node after startup – I was wrong. As @jacobperron pointed out, it has to be enabled:

---

I also looked if QoS of `libgazebo_ros_camera.so` is configurable. It seems to be hardcoded:

https://github.com/ro

[2022-02-10 23:05] Mirrownis commented on #131
Could reproduce on 20.04/focal and galactic and found quick-fix: run 'rqt --clear-config' to remove all frozen plugins.

[2022-02-15 22:16] jacobperron commented on #187
FWIW, I think you can reconfigure all of the default gazebo_ros plugins via XML (in the URDF/SDF) since Foxy. Here is a link to some documentation:
https://github.com/ros-simulation/gazebo_ros_pkgs/blob/205755685f77300a27d16c9739b1e397e30811d9/gazebo_ros/include/gazebo_ros/qos.hpp#L61-L120

---

Another option is to dynamically select the QoS based on the publisher. Here is a related issue to add

[2022-02-17 11:05] omerts commented on #183
@pdalloz This is mac bro

[2022-02-22 13:38] v4hn opened #259 "noetic release missing"
https://github.com/ros-visualization/rqt/pull/241 was merged, but the package was not newly released into noetic. So the package is still broken in noetic and requires users to build from source... :(

Could you please trigger a quick release to get this fixed?

[2022-03-10 01:37] lucienchia opened #260 "RQT catkin_make error"
I tried to catkin make the rqt package,
recieve this error:

-- ~~  traversing 11 packages in topological order:
-- ~~  - qt_dotgraph
-- ~~  - qt_gui
-- ~~  - qt_gui_app
-- ~~  - qt_gui_core (metapackage)
WARNING: The CMakeLists.txt of the metapackage 'qt_gui_core' contains non standard content. Use the content of the following file instead: /home/sesto/catkin_ws/try_ws/build/catkin_generated/meta

[2022-03-14 09:35] zimonitrome opened #261 "Plot does not automatically update when parameter reconfigure is open"
If a "parameter reconfigure" panel is open in the same rqt window as a "plot" panel, then the plot will stop plotting values automatically.

Values will however be plotted while a parameter is being reconfigured (as in M1 button is held and a slider is moved) but will then go back to not updating.

[2022-03-15 22:14] m2-farzan commented on #187
Thanks for the hint, @jacobperron

I added the `<qos>` tag to the `<plugin>` tag of my camera like this:

[code]

It solved the qos compatibility problem with rqt.

[2022-03-16 09:12] rickstaa commented on #238
For me, this issue was caused by the fact that I manually installed a newer version of QT and pyqt. Removing these installations and re-installing ROS noetic solved the problem.

[2022-03-21 18:50] jacobperron opened #262 "Parse ROS CLI arguments (rqt_gui_cpp)"
We are not parsing any user-provided command-lines arguments for ROS configuration:

https://github.com/ros-visualization/rqt/blob/5af2ce3877f8b6a95e0b60e479a310812bef7296/rqt_gui_cpp/src/rqt_gui_cpp/roscpp_plugin_provider.cpp#L90-L96
I don't think the same issue exists for Python code, since by default [`rclpy.init()` will look at `sys.argv`](https://github.com/ros2/rclpy/blob/bed714f5c95c0688509

[2022-03-21 18:53] jacobperron commented on #187
I just noticed that even if we enable the QoS overrides feature, we won't actually be able to use it for C++ plugins since we're not parsing CLI arguments (https://github.com/ros-visualization/rqt/issues/262).

[2022-03-24 10:30] minhanghuang opened #263 "RQT publish sequence<string> always []"
![image](https://user-images.githubusercontent.com/37317982/159897193-e56a7050-5593-4689-9387-74c6568d6452.png)

[2022-03-24 10:35] minhanghuang commented on #263
env
[code]

[2022-03-24 10:35] minhanghuang commented on #263
[code]

[2022-03-25 10:16] oKermorgant opened #264 "ROS 2 dynamic reconfigure with bounded parameters"
Hi,

Using Galactic here.
The `Dynamic reconfigure` plugin is able to detect if some parameters have been declared with bound constraints. In this case, rqt displays a slider instead of a text input and the bounds are well-detected.

However constraints can also contain a step size. It seems that this value is ignored in the slider, which (seems to) defaults to:
 - 1 for `int` (can access any valu

[2022-03-25 10:39] v4hn opened #265 "Add maintainer"
@mjeronimo @sloretz @jacobperron @clalancette

I raised #259 over a month ago asking for a simple bloom release into noetic to fix rqt in the official noetic packages.

[I mentioned the non-responsiveness concerning noetic talking to](https://github.com/ros-visualization/rqt_robot_monitor/pull/35#issuecomment-1069755315) @arne48 and he offered to help with such quick maintenance tasks, but he need

[2022-03-25 22:34] jacobperron commented on #259
Sorry for the delay. We overlooked this issue. I've made a new release for Noetic: https://github.com/ros/rosdistro/pull/32529

[2022-03-25 22:34] #259 closed, assigned to nobody

[2022-03-26 07:34] v4hn commented on #259
thanks!

[2022-03-30 13:38] ijnek opened #266 "Qt6"
Is anyone working on getting RQt to use Qt6 on rolling?

As briefly mentioned on [Qt for Python 6.2 announcement](https://www.qt.io/blog/qt-for-python-release-6.2) under the heading *Support for Python 3.10*,  there were some changes required to get Qt for Python working with Python3.10 and these changes are only in pyside6.

There's an issue that arrises with using Python3.10 with PyQt5 (ror py (

[2022-03-30 15:36] clalancette commented on #266
As far as I know, nobody is working on the upgrade right now.  If you'd like to contribute, we'd be happy to review, though note that we still have to maintain PyQt5 compatibility to support Ubuntu 20.04 for now.

It would also be worthwhile to test out RQt as it stands right now and see if this problem is happening.  If so, a detailed report of the problem would be worthwhile so we can see if the

[2022-03-31 10:31] ijnek commented on #266
@clalancette I see the problem happening, and I've added a [report of the problem to rqt_bag](https://github.com/ros-visualization/rqt_bag/issues/108), where the error actually happens.

[2022-04-12 17:51] clalancette opened #267 "ROS 2: The main RQT screen is empty"
If a user launches rqt with the following command:

[code]

They are presented with a blank canvas, and just some File menus at the top.  There isn't really a good way for them to know that they should click on "Plugins" and add in some plugins to start working.  My suggestion here is that instead of a blank canvas to start with, there is a small note that directs users to add some plugins.  That

[2022-04-20 18:48] #267 closed, assigned to mjeronimo

[2022-04-25 12:14] ijnek commented on #266
It seems that corresponding repositories are adapting to PyQt5 and mitigating these issues.
Qt6 - I see this happening further down the road and I don't think tracking progress in this issue is appropriate, so I'm going to close this issue.

[2022-04-25 12:14] #266 closed, assigned to nobody

[2022-05-13 00:17] sloretz opened #270 "`ros2 run rqt rqt` No Executable Found"
[code]

`rqt` works fine, but `ros2 run rqt rqt` does not. For that to work, the executable needs to be installed twice like `rviz` does

https://github.com/ros2/rviz/blob/7b4ba855b5803ef8b77b7732889c8b1b6e43532b/rviz2/CMakeLists.txt#L82-L83

I don't know how to do that with a `setup.py`. Most ROS 2 packages use the `setup.cfg` to change the install location, but it's not obvious to me how to dupl

[2022-05-20 19:08] mjeronimo opened #273 "Warnings on Windows when running rqt"
When running rqt on Windows, the following warnings are displayed at startup:

[code]
It seems that the plugin.xml file is not getting installed from ros2/src/ros-visualization/rqt/rqt_gui_cpp/plugin.xml to the above-mentioned destination.

Meanwhile, ros2/src/ros-visualization/rqt/rqt_gui_cpp/CMakeLists.txt has:

[code]
If this package isn't built yet for Windows, it seems that rqt shouldn't be t

[2022-06-03 12:03] kshfire commented on #255
I have encountered a similar problem when I executed rqt w/ ros 2 control demo. Thus, the rqt plot function is not working now..

[ERROR]: Malformed msg message_type: control_msgs/action/FollowJointTrajectory_FeedbackMessage
TopicCompleter.update_topics(): could not get message class for topic type "control_msgs/action/FollowJointTrajectory_FeedbackMessage" on topic "/position_trajectory_controlle

[2022-06-15 17:38] deebot opened #274 "Rqt topic monitor does't show correct values"
I am running  turlesim node and publishing angular and linear velocities on /turtle1/cmd_vel topic to control the turtle.
I am publishing on the above mentioned topic using a publisher written in python and also using  static publishing using terminal. The rqt topic monitor only shows values from one publisher.
However when I echo the topic it shows the correct values.

**How to reproduce the issu

[2022-07-14 09:28] powlook commented on #178
I ran rqt as part of the Tutorial in ROS2 (https://docs.ros.org/en/humble/Tutorials/Beginner-CLI-Tools/Understanding-ROS2-Topics/Understanding-ROS2-Topics.html#setup) and got this error. I cannot proceed on this tutorial since the graph does not print the network nodes.

[2022-07-14 13:44] clalancette commented on #178
This is almost certainly a different thing; `rqt_graph` seems to work fine on Windows in some testing here.

Please open a question on https://answers.ros.org with details about the platform, how you installed ROS 2, the exact commands you ran, and the error messages you got.  Someone should be able to help you there.

[2022-07-14 14:20] powlook commented on #178
Hi,
I have checked and find that the missing file is certainly not in the folder described:
![image](https://user-images.githubusercontent.com/8465668/179004508-a99d1245-589a-4d6d-a35c-7aaa2311adb6.png)

Anyway I will open a question on answers.ros.org

[2022-07-20 07:04] fake-name opened #275 "Saving graph dotfile fails with encoding error"
[code]

I cannot provide the version because the `rqt` about dialog also fails:

[code]

This is on windows, running an official build installed as described at https://docs.ros.org/en/galactic/Installation/Windows-Install-Binary.html, the [ros2-humble-20220523-windows-release-amd64.zip](https://github.com/ros2/ros2/releases/download/release-humble-20220523/ros2-humble-20220523-windows-release-amd